Repository kleinweb/logan-center: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown, php

lefthook.yml:

# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,jsx,ts,tsx}'
      run: npx eslint {staged_files} --fix
    prettier:
      glob: '*.{js,jsx,ts,tsx,md,html,json,yml}'
      run: npx prettier {staged_files} --write
    markdown:
      glob: '*.md'
      run: npx markdownlint {staged_files} --fix
    php:
      glob: '*.php'
      run: ./vendor/bin/phpcs {staged_files} --standard=.phpcs.xml

chore(reuse): update
  .reuse/dep5
  apps/nextjs/.storybook/main.ts
  apps/nextjs/.storybook/preview.ts
  apps/nextjs/contexts/SiteMenus.tsx
  apps/nextjs/contexts/SiteSettings.tsx
  apps/nextjs/lib/graphql/index.ts
  apps/nextjs/lib/graphql/queries/Homepage.graphql
  apps/nextjs/lib/graphql/queries/SinglePage.graphql
  apps/nextjs/lib/graphql/queries/SiteMenus.graphql
  apps/nextjs/lib/graphql/queries/Sitewide.graphql
  apps/nextjs/lib/graphql/queries/TaxonomyArchive.graphql
  apps/nextjs/lib/menus.js
  apps/nextjs/lib/menus.ts.disabled
Due: eslint, prettier

fix(types|images|blocks): various type fixes
  apps/nextjs/components/Blocks/ImageBlock/ImageBlock.tsx
  apps/nextjs/components/Blocks/index.ts
  apps/nextjs/components/Image/Image.tsx
  apps/nextjs/components/PostContent/PostContent.tsx
  apps/nextjs/components/SearchForm/SearchForm.tsx
  apps/nextjs/components/SiteHeader/SiteHeader.tsx
  apps/nextjs/lib/blocks.ts
Due: eslint, prettier

chore(deps): bump
  apps/nextjs/package.json
  package.json
  packages/eslint-config-custom/package.json
  packages/tailwind-config/package.json
  packages/tu-assets/package.json
  yarn.lock
Due: prettier

fix(nix): standard upgrade flake-parts incompat
  flake.nix
Due: none

feat: plugins updates
  .gitignore
  apps/nextjs/.gitignore
  apps/nextjs/gql/gql.ts
  apps/nextjs/gql/graphql.ts
  apps/nextjs/lib/graphql/fragments/MediaItemFields.graphql
  apps/nextjs/lib/graphql/fragments/blocks/GutenbergBlocks.graphql.disabled
  apps/nextjs/lib/graphql/queries/AllMediaItems.graphql
  apps/nextjs/lib/graphql/queries/MenuByName.graphql
  apps/nextjs/lib/graphql/queries/PostsListByCategoryName.graphql
  apps/nextjs/lib/graphql/queries/SinglePage.graphql
  apps/nextjs/lib/graphql/queries/SiteSettings.graphql
  apps/nextjs/lib/graphql/queries/Sitewide.graphql
  apps/nextjs/lib/graphql/queries/TaxonomyArchive.graphql
  apps/nextjs/lib/graphql/queries/WPControls.graphql
  apps/nextjs/lib/graphql/queries/WPSeo.graphql
  apps/wordpress/.env.example
  apps/wordpress/.gitignore
  apps/wordpress/composer.json
  apps/wordpress/composer.lock
  apps/wordpress/web/app/mu-plugins/kleinweb-headless-lib.php
  apps/wordpress/web/app/themes/logan-center-wp-next-theme/.gitignore
  apps/wordpress/web/app/themes/logan-center/functions.php
  composer.json
  composer.lock
  graphql.schema.json
Due: eslint, prettier, php

fix(sb): load typekit and tailwind in stories
  apps/nextjs/.storybook/main.ts
  apps/nextjs/.storybook/preview-head.html
  apps/nextjs/.storybook/preview.ts
Due: eslint, prettier

chore(images|devshell): add `exiftool` + move optimization tasks to justfile
  Justfile
  nix/media/devshellProfiles.nix
Due: none

feat(sb): add stories for Paragraph/Quote blocks and some pages and posts
  apps/nextjs/components/Blocks/Paragraph/Paragraph.stories.tsx
  apps/nextjs/components/Blocks/Quote/Quote.stories.tsx
  apps/nextjs/components/Blocks/Quote/Quote.tsx
  apps/nextjs/components/Post/Post.stories.tsx
  apps/nextjs/pages/podcast.stories.tsx
  apps/nextjs/pages/podcast.tsx
  apps/nextjs/stories/AboutPage/AboutPage.module.css
  apps/nextjs/stories/AboutPage/AboutPage.stories.tsx
  apps/nextjs/stories/AboutPage/AboutPage.tsx
  apps/nextjs/stories/Page.stories.ts
  apps/nextjs/stories/Page.tsx
  apps/nextjs/stories/page.css
Due: eslint, prettier

chore(reuse): annotate
  apps/nextjs/components/SiteFooter/SiteFooter.tsx
  apps/nextjs/lib/graphql/fragments/blocks/GutenbergBlocks.graphql.disabled
  apps/nextjs/lib/graphql/queries/MenuByName.graphql
  apps/nextjs/lib/graphql/queries/PostsListByCategoryName.graphql
  apps/nextjs/lib/graphql/queries/SiteSettings.graphql
  apps/nextjs/lib/graphql/queries/WPControls.graphql
  apps/nextjs/lib/graphql/queries/WPSeo.graphql
Due: eslint, prettier

feat(queries): use react-query
  apps/nextjs/.eslintrc.js
  apps/nextjs/components/SiteHeader/SiteHeader.tsx
  apps/nextjs/lib/graphql/index.ts
  apps/nextjs/lib/hooks/useGraphQuery.ts
  apps/nextjs/lib/types.d.ts
  apps/nextjs/next.config.js
  apps/nextjs/package.json
  apps/nextjs/pages/_app.tsx
  apps/nextjs/pages/index.tsx
  yarn.lock
Due: eslint, prettier

feat: use app directory layout
  apps/nextjs/app/[topicSlug]/[projectSlug]/[reportSlug]/page.tsx
  apps/nextjs/app/[topicSlug]/[projectSlug]/page.tsx
  apps/nextjs/app/[topicSlug]/page.tsx
  apps/nextjs/app/default-tags.tsx
  apps/nextjs/app/layout.tsx
  apps/nextjs/app/providers.tsx
  apps/nextjs/components/Telemetry/Telemetry.tsx
  apps/nextjs/lib/constants.ts
  apps/nextjs/next.config.js
  apps/nextjs/pages/_document.tsx
  apps/nextjs/public/apple-icon-x3.png
  apps/nextjs/public/browserconfig.xml
  apps/nextjs/public/favicon.ico
  apps/nextjs/public/favicon.png
  apps/nextjs/public/mstile-150x150.png
  apps/nextjs/public/safari-pinned-tab.svg
  apps/nextjs/public/site.webmanifest
Due: eslint, prettier

fix: re-enable footer logo
  apps/nextjs/components/SiteFooter/SiteFooter.tsx
Due: eslint, prettier

chore(dev|secrets): use `dotenv/config` for dev-only scripts
  apps/nextjs/package.json
Due: prettier

feat(sb|secrets|dev): configure chromatic
  apps/nextjs/.env.example
  apps/nextjs/package.json
  yarn.lock
Due: prettier

chore(secrets): update dotenv values for all envs
  apps/nextjs/.env.example
  apps/nextjs/.env.vault
  apps/nextjs/wp.config.js
Due: eslint, prettier

ci(sb|secrets): add chromatic action
  .github/workflows/chromatic.yml
  apps/nextjs/package.json
Due: prettier

ci(sb|secrets): just use the normal secret
  .github/workflows/chromatic.yml
Due: prettier

chore(sb): move example stories into new directory
  apps/nextjs/stories/examples/Button.stories.ts
  apps/nextjs/stories/examples/Button.tsx
  apps/nextjs/stories/examples/Header.stories.ts
  apps/nextjs/stories/examples/Header.tsx
  apps/nextjs/stories/examples/Introduction.mdx
  apps/nextjs/stories/examples/assets/code-brackets.svg
  apps/nextjs/stories/examples/assets/colors.svg
  apps/nextjs/stories/examples/assets/comments.svg
  apps/nextjs/stories/examples/assets/direction.svg
  apps/nextjs/stories/examples/assets/flow.svg
  apps/nextjs/stories/examples/assets/plugin.svg
  apps/nextjs/stories/examples/assets/repo.svg
  apps/nextjs/stories/examples/assets/stackalt.svg
  apps/nextjs/stories/examples/button.css
  apps/nextjs/stories/examples/header.css
Due: eslint, prettier

fix(sb): default to white background + add custom theme
  apps/nextjs/.storybook/LoganCenterTheme.ts
  apps/nextjs/.storybook/manager.ts
  apps/nextjs/.storybook/preview.ts
  apps/nextjs/package.json
  yarn.lock
Due: eslint, prettier

feat(pages|images|sb): cover image for page with motif fallback
  .vscode/logan-center.code-workspace
  apps/nextjs/src/molecules/PageTitle.stories.tsx
  apps/nextjs/src/molecules/PageTitle.tsx
  apps/nextjs/src/organisms/CoverImage.tsx
  apps/nextjs/src/organisms/PageCover/CoverImage.tsx
  apps/nextjs/src/organisms/PageCover/CoverImageFallback.tsx
  apps/nextjs/src/organisms/PageCover/PageCover.stories.tsx
  apps/nextjs/src/organisms/PostHeader.tsx
Due: eslint, prettier

fix(sb): load stories recursively from src for accurate auto-titles
  apps/nextjs/.storybook/main.ts
Due: eslint, prettier

fix: cleanup _app.tsx for fresh start and passing builds
  apps/nextjs/src/pages/_app.tsx
Due: eslint, prettier

ci(sb): fix overwritten workflow config
  .github/workflows/chromatic.yml
Due: prettier

fix(devshell): harvest devshells properly
  flake.nix
Due: none

feat(blocks|gql|plugins): use wpe gql content blocks plugin
  .gitmodules
  .prettierignore
  .reuse/dep5
  apps/nextjs/gql/gql.ts
  apps/nextjs/gql/graphql.ts
  apps/nextjs/lib/blocks.test.ts
  apps/nextjs/lib/blocks.ts
  apps/nextjs/lib/graphql/fragments/ContentBlock.graphql
  apps/nextjs/lib/graphql/fragments/ContentNode.graphql
  apps/nextjs/src/organisms/Blocks/ClassicEditorBlock/ClassicEditorBlock.tsx
  apps/nextjs/src/organisms/Blocks/Heading/Heading.tsx
  apps/nextjs/src/organisms/Blocks/ImageBlock/ImageBlock.tsx
  apps/nextjs/src/organisms/Blocks/List/List.tsx
  apps/nextjs/src/organisms/Blocks/Paragraph/Paragraph.stories.tsx
  apps/nextjs/src/organisms/Blocks/Paragraph/Paragraph.tsx
  apps/nextjs/src/organisms/Blocks/Quote/Quote.module.css
  apps/nextjs/src/organisms/Blocks/Quote/Quote.stories.tsx
  apps/nextjs/src/organisms/Blocks/Quote/Quote.test.tsx
  apps/nextjs/src/organisms/Blocks/Quote/Quote.tsx
  apps/nextjs/src/organisms/Blocks/Table/Table.tsx
  apps/nextjs/src/organisms/Blocks/UnsupportedBlock/UnsupportedBlock.module.css
  apps/nextjs/src/organisms/Blocks/UnsupportedBlock/UnsupportedBlock.tsx
  apps/nextjs/src/organisms/Blocks/index.ts
  apps/nextjs/src/templates/PostContent/PostContent.tsx
  apps/wordpress/.gitignore
  apps/wordpress/web/app/mu-plugins/kleinweb-headless-lib.php
  graphql.schema.json
Due: eslint, prettier, php

feat(deps:wp): add `faustwp`
  apps/wordpress/composer.json
  apps/wordpress/composer.lock
Due: prettier

fix(env): more consistent env var names and const access
  apps/nextjs/.env.example
  apps/nextjs/lib/constants.ts
  apps/nextjs/lib/graphql/index.ts
  apps/nextjs/lib/links.test.ts
  apps/nextjs/next.config.js
  apps/nextjs/src/atoms/Image/Image.test.tsx
  apps/nextjs/src/atoms/Image/Image.tsx
  apps/nextjs/wp.config.js
  turbo.json
Due: eslint, prettier

fix(urls): force-disable trailing slashes
  apps/nextjs/next.config.js
Due: eslint, prettier

fix(menus|queries): use correct menu location name
  apps/nextjs/gql/gql.ts
  apps/nextjs/gql/graphql.ts
  apps/nextjs/lib/graphql/queries/SiteMenus.graphql
  apps/nextjs/next.config.js
  graphql.schema.json
Due: eslint, prettier

fix(queries|auth): try credentials: `include`
  apps/nextjs/lib/graphql/index.ts
Due: eslint, prettier

fix: update theme name for activation task
  Justfile
Due: none

feat(tw): export tailwind config as json
  apps/nextjs/package.json
  apps/nextjs/tailwind-config.json
  packages/tailwind-config/package.json
  yarn.lock
Due: prettier

fix(req|auth): omit credentials setting for apollo entirely
  apps/nextjs/lib/graphql/index.ts
Due: eslint, prettier

chore(req): bulk delete scattered fragments and queries
  apps/nextjs/lib/graphql.ts
  apps/nextjs/lib/graphql/fragments/ContentBlock.graphql
  apps/nextjs/lib/graphql/fragments/ContentNode.graphql
  apps/nextjs/lib/graphql/fragments/ContentType.graphql
  apps/nextjs/lib/graphql/fragments/FeaturedImage.graphql
  apps/nextjs/lib/graphql/fragments/GeneralSettings.graphql
  apps/nextjs/lib/graphql/fragments/MediaItemFields.graphql
  apps/nextjs/lib/graphql/fragments/MenuItems.graphql
  apps/nextjs/lib/graphql/fragments/PageInfo.graphql
  apps/nextjs/lib/graphql/fragments/blocks/GutenbergBlocks.graphql.disabled
  apps/nextjs/lib/graphql/queries/AllContentTypes.graphql
  apps/nextjs/lib/graphql/queries/AllMediaItems.graphql
  apps/nextjs/lib/graphql/queries/AllPages.graphql
  apps/nextjs/lib/graphql/queries/ContentNodeBySlug.graphql
  apps/nextjs/lib/graphql/queries/ContentNodePreviewById.graphql
  apps/nextjs/lib/graphql/queries/ContentNodesBySearchTerm.graphql
  apps/nextjs/lib/graphql/queries/ContentTypeByName.graphql
  apps/nextjs/lib/graphql/queries/Homepage.graphql
  apps/nextjs/lib/graphql/queries/MenuByName.graphql
  apps/nextjs/lib/graphql/queries/PostsListByCategoryName.graphql
  apps/nextjs/lib/graphql/queries/SinglePage.graphql
  apps/nextjs/lib/graphql/queries/SiteMenus.graphql
  apps/nextjs/lib/graphql/queries/SiteSettings.graphql
  apps/nextjs/lib/graphql/queries/TaxonomyArchive.graphql
  apps/nextjs/lib/graphql/queries/WPControls.graphql
  apps/nextjs/lib/graphql/queries/WPSeo.graphql
  apps/nextjs/lib/types.d.ts
Due: eslint, prettier

feat(tw): add union type of current aspect ratio names
  apps/nextjs/lib/types.d.ts
Due: eslint, prettier

feat: add more post/page/author components
  apps/nextjs/lib/authors.ts
  apps/nextjs/lib/constants.ts
  apps/nextjs/src/atoms/Date.tsx
  apps/nextjs/src/molecules/Byline/Byline.tsx
  apps/nextjs/src/molecules/Byline/index.ts
  apps/nextjs/src/organisms/Alert/PreviewAlert.tsx
  apps/nextjs/src/organisms/CoverImage/CoverImage.tsx
  apps/nextjs/src/organisms/MoreStories.tsx
  apps/nextjs/src/organisms/PostBody.tsx
  apps/nextjs/src/organisms/PostCard.tsx
  apps/nextjs/src/organisms/PostHeader.tsx
  apps/nextjs/src/pages/[slug].tsx
  apps/nextjs/src/pages/authors/[name].tsx
Due: eslint, prettier
