Repository kleinweb/logan-center: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown, php

lefthook.yml:

# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,jsx,ts,tsx}'
      run: npx eslint {staged_files} --fix
    prettier:
      glob: '*.{js,jsx,ts,tsx,md,html,json,yml}'
      run: npx prettier {staged_files} --write
    markdown:
      glob: '*.md'
      run: npx markdownlint {staged_files} --fix
    php:
      glob: '*.php'
      run: ./vendor/bin/phpcs {staged_files} --standard=.phpcs.xml

chore: fmt
  Justfile
Due: none

wip: stabilize bad queries
  apps/nextjs/components/SiteHeader/SiteHeader.tsx
  apps/nextjs/lib/types.d.ts
  apps/nextjs/pages/_app.tsx
  apps/nextjs/pages/index.tsx
Due: eslint, prettier

chore(wp|deps): remove problematic/unused plugins
  apps/wordpress/composer.json
  apps/wordpress/composer.lock
Due: prettier

chore(wp): rm theme from workspace
  package.json
  yarn.lock
Due: prettier

chore(gql|deps): get vscode working + improve availability of queries
  .env.example
  .envrc
  .graphqlrc.yml
  .yarnrc.yml
  apps/nextjs/codegen.ts
  apps/nextjs/gql/fragment-masking.ts
  apps/nextjs/gql/gql.ts
  apps/nextjs/gql/graphql.ts
  apps/nextjs/gql/index.ts
  apps/nextjs/package.json
  package.json
  turbo.json
  yarn.lock
Due: eslint, prettier

feat(lint): pretty aggressive: avoid arrow parens and bracket spacing
  .prettierrc.json
Due: prettier

chore(lint): delete stray eslintrc
  .eslintrc.js
Due: eslint, prettier

chore(lint|tw): remove annoying and broken tailwind eslint plugin
  apps/nextjs/.eslintrc.js
  apps/nextjs/components/Blocks/Quote/Quote.test.tsx
  apps/nextjs/package.json
  packages/eslint-config-custom/index.js
  yarn.lock
Due: eslint, prettier

feat(header|gql): nav menu skeleton
  apps/nextjs/components/SiteHeader/NavigationMenu.tsx
  apps/nextjs/components/SiteHeader/SiteHeader.tsx
  apps/nextjs/lib/menus.ts
Due: eslint, prettier

feat(gql): store endpoint url as constant for type-validation
  apps/nextjs/lib/constants.ts
  turbo.json
Due: eslint, prettier

chore: misc notes in config
  apps/nextjs/next.config.js
Due: eslint, prettier

feat: it renders again
  .reuse/dep5
  apps/nextjs/.eslintignore
  apps/nextjs/.gitignore
  apps/nextjs/components/Image/Image.tsx
  apps/nextjs/components/Layout/Layout.tsx
  apps/nextjs/components/PostContent/PostContent.tsx
  apps/nextjs/components/PostList/PostList.tsx
  apps/nextjs/components/SearchForm/SearchForm.tsx
  apps/nextjs/components/SiteHeader/NavigationMenu.tsx
  apps/nextjs/components/SiteHeader/SiteHeader.tsx
  apps/nextjs/gql/gql.ts
  apps/nextjs/gql/graphql.ts
  apps/nextjs/lib/blocks.ts
  apps/nextjs/lib/constants.ts
  apps/nextjs/lib/graphql/fragments/MenuItems.graphql
  apps/nextjs/lib/graphql/index.ts
  apps/nextjs/lib/graphql/queries/SiteMenus.graphql
  apps/nextjs/lib/graphql/queries/Sitewide.graphql
  apps/nextjs/lib/links.ts
  apps/nextjs/lib/log.ts
  apps/nextjs/lib/menus.ts
  apps/nextjs/pages/[...slug].tsx.disabled
  apps/nextjs/pages/_app.tsx
  apps/nextjs/pages/api/healthcheck.ts
  apps/nextjs/pages/api/robots.ts
  apps/nextjs/pages/index.tsx
  apps/nextjs/pages/latest/[content_type].tsx.disabled
  apps/nextjs/pages/media/index.tsx.disabled
  apps/nextjs/pages/preview/[token]/[id].tsx.disabled
  apps/nextjs/pages/search/index.tsx.disabled
  yarn.lock
Due: eslint, prettier

menu trial and error... mostly error...
  apps/nextjs/components/SiteHeader/NavigationMenu.tsx
  apps/nextjs/components/SiteHeader/SiteHeader.tsx
  apps/nextjs/gql/gql.ts
  apps/nextjs/gql/graphql.ts
  apps/nextjs/lib/graphql/index.ts
  apps/nextjs/lib/graphql/queries/SiteMenus.graphql
  apps/nextjs/lib/menus.js
  apps/nextjs/lib/menus.ts.disabled
  apps/nextjs/pages/index.tsx
  apps/nextjs/tsconfig.json
Due: eslint, prettier

feat(sb): init new and improved storybook
  apps/nextjs/.eslintrc.js
  apps/nextjs/.storybook/main.ts
  apps/nextjs/.storybook/preview.ts
  apps/nextjs/package.json
  apps/nextjs/stories/Button.stories.ts
  apps/nextjs/stories/Button.tsx
  apps/nextjs/stories/Header.stories.ts
  apps/nextjs/stories/Header.tsx
  apps/nextjs/stories/Introduction.mdx
  apps/nextjs/stories/Page.stories.ts
  apps/nextjs/stories/Page.tsx
  apps/nextjs/stories/assets/code-brackets.svg
  apps/nextjs/stories/assets/colors.svg
  apps/nextjs/stories/assets/comments.svg
  apps/nextjs/stories/assets/direction.svg
  apps/nextjs/stories/assets/flow.svg
  apps/nextjs/stories/assets/plugin.svg
  apps/nextjs/stories/assets/repo.svg
  apps/nextjs/stories/assets/stackalt.svg
  apps/nextjs/stories/button.css
  apps/nextjs/stories/header.css
  apps/nextjs/stories/page.css
  yarn.lock
Due: eslint, prettier

chore(reuse): update
  .reuse/dep5
  apps/nextjs/.storybook/main.ts
  apps/nextjs/.storybook/preview.ts
  apps/nextjs/contexts/SiteMenus.tsx
  apps/nextjs/contexts/SiteSettings.tsx
  apps/nextjs/lib/graphql/index.ts
  apps/nextjs/lib/graphql/queries/Homepage.graphql
  apps/nextjs/lib/graphql/queries/SinglePage.graphql
  apps/nextjs/lib/graphql/queries/SiteMenus.graphql
  apps/nextjs/lib/graphql/queries/Sitewide.graphql
  apps/nextjs/lib/graphql/queries/TaxonomyArchive.graphql
  apps/nextjs/lib/menus.js
  apps/nextjs/lib/menus.ts.disabled
Due: eslint, prettier

fix(types|images|blocks): various type fixes
  apps/nextjs/components/Blocks/ImageBlock/ImageBlock.tsx
  apps/nextjs/components/Blocks/index.ts
  apps/nextjs/components/Image/Image.tsx
  apps/nextjs/components/PostContent/PostContent.tsx
  apps/nextjs/components/SearchForm/SearchForm.tsx
  apps/nextjs/components/SiteHeader/SiteHeader.tsx
  apps/nextjs/lib/blocks.ts
Due: eslint, prettier

chore(deps): bump
  apps/nextjs/package.json
  package.json
  packages/eslint-config-custom/package.json
  packages/tailwind-config/package.json
  packages/tu-assets/package.json
  yarn.lock
Due: prettier

docs: add netlify badge to readme
  README.md
Due: prettier, markdown

chore(reuse): correct a few license headers
  apps/nextjs-minimal/components/Container/Container.tsx
  apps/nextjs-minimal/components/Container/index.ts
  apps/nextjs-minimal/components/Layout/Layout.tsx
  apps/nextjs-minimal/components/Meta/index.ts
  packages/ui/src/components/ActiveLink/ActiveLink.tsx
Due: eslint, prettier

chore(deps): patch-version updates
  apps/nextjs-minimal/package.json
  package.json
  packages/eslint-config-custom/package.json
  packages/tu-assets/package.json
  packages/ui/package.json
  yarn.lock
Due: prettier

chore(deploy): remove vercel tooling+config
  .gitignore
  apps/nextjs-minimal/vercel.json
  nix/default.nix
  nix/vercel.nix
  package.json
  yarn.lock
Due: prettier

fix(deps|media): add `sharp` for nextjs prod image optimization
  apps/nextjs-minimal/package.json
  yarn.lock
Due: prettier

chore(deps): bump `dotenv-cli`
  package.json
  yarn.lock
Due: prettier

chore(reuse): licensing fixes
  .reuse/dep5
  Justfile
  LICENSES/CC-BY-NC-SA-4.0.txt
Due: none

chore(fmt|tasks): justfile formatting
  Justfile
Due: none

chore(lint|tasks): run `deadnix` with underscore check
  Justfile
Due: none

chore(deps): update inputs
  flake.lock
Due: none

chore(deps): update node packages
  .yarnrc.yml
  apps/nextjs-minimal/package.json
  package.json
  packages/eslint-config-custom/package.json
  packages/tu-assets/package.json
  packages/ui/package.json
  yarn.lock
Due: prettier

fix(deps|eslint): list `tailwindcss` as peer dep
  packages/eslint-config-custom/package.json
  yarn.lock
Due: prettier

fix(fmt): commit prettier config
  .gitignore
  .prettierrc.json
  nix/devshells.nix
  nix/formatters/default.nix
  nix/formatters/nixagoFiles/prettierrc.json.nix
Due: prettier

chore: add more fixes from infra
  .editorconfig
  .reuse/templates/compact.jinja2
  .vscode/logan-center.code-snippets
  garnix.yaml
Due: none

ci(reuse): add license-check workflow
  .github/workflows/license-check.yml
Due: prettier

chore: fmt
  CHANGELOG.md
  Justfile
  nix/formatters/default.nix
Due: prettier, markdown

feat: use standard layout
  .envrc
  .gitignore
  .wp-env/.htaccess
  Justfile
  apps/wp-env/.env.example
  apps/wp-env/.gitignore
  apps/wp-env/package.json
  flake.lock
  flake.nix
  nix/_automation/devshellProfiles.nix
  nix/_automation/devshellProfiles/formatters.nix
  nix/_automation/devshells.nix
  nix/default.nix
  nix/devshells.nix
  nix/flake-modules/default.nix
  nix/flake-modules/devshell/flake-module.nix
  nix/flake-modules/nixago/flake-module.nix
  nix/formatters/default.nix
  nix/logan-center/flake-module.nix
  nix/logan-center/meta.nix
  nix/media/devshellProfiles.nix
  nix/project.nix
  nix/wordpress.nix
  nix/wordpress/devshellProfiles.nix
  nix/wordpress/nixago.nix
  package.json
  treefmt.toml
  yarn.lock
Due: prettier

chore(deps|devshell): add docker utils
  nix/wordpress/devshellProfiles.nix
Due: none

chore(vscode|secrets): update dotenv plugin recommendation
  .vscode/extensions.json
Due: prettier

feat: add wordpress from bedrock template
  .gitignore
  Justfile
  apps/wordpress/.ddev/config.yaml
  apps/wordpress/.env.example
  apps/wordpress/.gitignore
  apps/wordpress/CHANGELOG.md
  apps/wordpress/Justfile
  apps/wordpress/LICENSE.md
  apps/wordpress/README.md
  apps/wordpress/composer.json
  apps/wordpress/composer.lock
  apps/wordpress/config/application.php
  apps/wordpress/config/environments/development.php
  apps/wordpress/config/environments/staging.php
  apps/wordpress/flake.nix
  apps/wordpress/nix/_automation/devshells.nix
  apps/wordpress/phpcs.xml
  apps/wordpress/projects.toml
  apps/wordpress/web/app/db.php
  apps/wordpress/web/app/mu-plugins/bedrock-autoloader.php
  apps/wordpress/web/app/plugins/.gitkeep
  apps/wordpress/web/app/themes/.gitkeep
  apps/wordpress/web/app/uploads/.gitkeep
  apps/wordpress/web/index.php
  apps/wordpress/web/wp-config.php
  apps/wordpress/wp-cli.yml
Due: prettier, markdown, php
