Repository kleinweb/logan-center: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown, php

eslint:
  run: npx eslint {staged_files} --fix

prettier:
  run: npx prettier {staged_files} --write

markdown:
  run: npx markdownlint {staged_files} --fix

php:
  run: ./vendor/bin/phpcs {staged_files} --standard=.phpcs.xml

chore(deps|blocks|plugins|queries): remove wp-graphql-content-blocks submodule
  .gitmodules
Due: none

chore(deps): use forked content block plugin for proper package type
  apps/wordpress/.gitignore
  apps/wordpress/composer.json
  apps/wordpress/composer.lock
  docs/dependencies.md
Due: prettier, markdown

feat: add more post/page/author components
  apps/nextjs/lib/authors.ts
  apps/nextjs/lib/constants.ts
  apps/nextjs/src/atoms/Date.tsx
  apps/nextjs/src/molecules/Byline/Byline.tsx
  apps/nextjs/src/molecules/Byline/index.ts
  apps/nextjs/src/organisms/Alert/PreviewAlert.tsx
  apps/nextjs/src/organisms/CoverImage/CoverImage.tsx
  apps/nextjs/src/organisms/MoreStories.tsx
  apps/nextjs/src/organisms/PostBody.tsx
  apps/nextjs/src/organisms/PostCard.tsx
  apps/nextjs/src/organisms/PostHeader.tsx
  apps/nextjs/src/pages/[slug].tsx
  apps/nextjs/src/pages/authors/[name].tsx
  apps/nextjs/src/templates/Layout/Layout.tsx
Due: eslint, prettier

fix(query): restore a single deleted query to prevent codegen failure
  apps/nextjs/gql/gql.ts
  apps/nextjs/gql/graphql.ts
  apps/nextjs/lib/graphql/fragments/GeneralSettings.graphql
  graphql.schema.json
Due: eslint, prettier

chore(deps): bump
  apps/nextjs/package.json
  package.json
  yarn.lock
Due: prettier

chore: add theme to vscode workspace
  .vscode/logan-center.code-workspace
  apps/wordpress/web/app/themes/logan-center-theme/.vscode/settings.json
Due: prettier

feat: add consts for organization names
  apps/nextjs/lib/constants.ts
Due: eslint, prettier

feat: use next.js app dir
  apps/nextjs/next.config.js
  apps/nextjs/public/favicon/apple-icon-x3.png
  apps/nextjs/public/favicon/browserconfig.xml
  apps/nextjs/public/favicon/favicon.ico
  apps/nextjs/public/favicon/favicon.png
  apps/nextjs/public/favicon/mstile-150x150.png
  apps/nextjs/public/favicon/safari-pinned-tab.svg
  apps/nextjs/public/favicon/site.webmanifest
  apps/nextjs/src/app/[slug]/[projectSlug]/[reportSlug]/page.tsx
  apps/nextjs/src/app/[slug]/[projectSlug]/page.tsx
  apps/nextjs/src/app/about/[[...slug]]/page.tsx
  apps/nextjs/src/app/client-home.tsx
  apps/nextjs/src/app/client-telemetry.tsx
  apps/nextjs/src/app/default-meta.ts
  apps/nextjs/src/app/default-tags.tsx
  apps/nextjs/src/app/layout.tsx
  apps/nextjs/src/app/page.tsx
  apps/nextjs/src/app/providers.tsx
  apps/nextjs/src/components/ClientOnly/ClientOnly.tsx
  apps/nextjs/src/components/Meta/Favicons.tsx
  apps/nextjs/src/components/Meta/Meta.tsx
  apps/nextjs/src/components/Meta/index.ts
  apps/nextjs/src/components/Telemetry/index.ts
  apps/nextjs/src/molecules/ActiveLink/ActiveLink.tsx
  apps/nextjs/src/organisms/PostList/PostList.tsx
  apps/nextjs/src/pages/Home/Hero.tsx
  apps/nextjs/src/pages/[slug].tsx
  apps/nextjs/src/pages/_app.tsx
  apps/nextjs/src/pages/_document.tsx
  apps/nextjs/tsconfig.json
  package.json
  packages/eslint-config-custom/package.json
  packages/tailwind-config/tailwind.config.js
  yarn.lock
Due: eslint, prettier

feat(wp|plugins|queries): add co-authors-plus
  apps/wordpress/composer.json
  apps/wordpress/composer.lock
  apps/wordpress/web/app/mu-plugins/kleinweb-headless-lib.php
Due: prettier, php

feat: pull in updates from alt version + load core lib in subdir
  apps/wordpress/.gitignore
  apps/wordpress/composer.json
  apps/wordpress/composer.lock
  apps/wordpress/web/app/mu-plugins/klein-core-library/inc/user-roles.php
  apps/wordpress/web/app/mu-plugins/klein-core-library/klein-core-library.php
  apps/wordpress/web/app/mu-plugins/klein-headless-lib.php
  apps/wordpress/web/app/mu-plugins/klein-loader.php
  apps/wordpress/web/app/themes/logan-center-theme/.bladeformatterrc.json
  apps/wordpress/web/app/themes/logan-center-theme/.eslintrc.cjs
  apps/wordpress/web/app/themes/logan-center-theme/.prettierrc.json
  apps/wordpress/web/app/themes/logan-center-theme/.stylelintrc.json
  apps/wordpress/web/app/themes/logan-center-theme/app/setup.php
  apps/wordpress/web/app/themes/logan-center-theme/composer.json
  apps/wordpress/web/app/themes/logan-center-theme/composer.lock
  apps/wordpress/web/app/themes/logan-center-theme/index.php
  apps/wordpress/web/app/themes/logan-center-theme/package.json
  apps/wordpress/web/app/themes/logan-center-theme/tsconfig.json
  yarn.lock
Due: prettier, php

fix: resolve cors issues in apollo
  apps/nextjs/gql/gql.ts
  apps/nextjs/gql/graphql.ts
  apps/nextjs/lib/constants.ts
  apps/nextjs/lib/graphql.ts
  apps/nextjs/lib/graphql/client.ts
  apps/nextjs/lib/graphql/fragments/FeaturedImageFields.graphql
  apps/nextjs/lib/graphql/queries/AllPagesPaths.graphql
  apps/nextjs/lib/graphql/queries/SinglePage.graphql
  apps/nextjs/lib/links.ts
  apps/nextjs/lib/post.d.ts
  apps/nextjs/next-env.d.ts
  apps/nextjs/package.json
  apps/nextjs/src/app/about/[[...slug]]/page.tsx
  apps/nextjs/src/app/about/page.tsx
  apps/nextjs/src/app/providers.tsx
  apps/nextjs/src/contexts/SiteMenus.tsx
  apps/nextjs/src/organisms/SiteHeader/SiteHeader.tsx
  apps/nextjs/src/templates/Post.tsx
  apps/wordpress/web/app/themes/logan-center-theme/package.json
  graphql.schema.json
  package.json
  packages/eslint-config-custom/package.json
  yarn.lock
Due: eslint, prettier

feat: a page is born
  apps/nextjs/gql/gql.ts
  apps/nextjs/gql/graphql.ts
  apps/nextjs/lib/graphql/queries/SinglePage.graphql
  apps/nextjs/lib/post.d.ts
  apps/nextjs/src/app/about/SinglePage.tsx
  apps/nextjs/src/app/about/page.tsx
  apps/nextjs/src/organisms/Alert/PreviewAlert.tsx
  apps/nextjs/src/organisms/KleinBanner/KleinBanner.tsx
  apps/nextjs/src/organisms/SiteHeader/SiteHeader.tsx
  apps/nextjs/src/templates/Layout/Layout.tsx
Due: eslint, prettier

refactor: scaffold content architecture with server components
  apps/nextjs/package.json
  apps/nextjs/src/app/(archives)/authors/[author]/AuthorProfile.tsx
  apps/nextjs/src/app/(archives)/authors/[author]/page.tsx
  apps/nextjs/src/app/(archives)/layout.tsx
  apps/nextjs/src/app/(archives)/press/page.tsx
  apps/nextjs/src/app/(archives)/tags/[tag]/TagArchive.tsx
  apps/nextjs/src/app/(archives)/tags/[tag]/page.tsx
  apps/nextjs/src/app/(content)/themes/[theme]/[project]/[report]/page.tsx
  apps/nextjs/src/app/(content)/themes/[theme]/[project]/page.tsx
  apps/nextjs/src/app/(content)/themes/[theme]/page.tsx
  apps/nextjs/src/app/(pages)/about/SinglePage.tsx
  apps/nextjs/src/app/(pages)/about/page.tsx
  apps/nextjs/src/app/(pages)/contact/page.tsx
  apps/nextjs/src/app/(pages)/podcast.tsx
  apps/nextjs/src/app/(pages)/projects/page.tsx
  apps/nextjs/src/app/[slug]/[projectSlug]/[reportSlug]/page.tsx
  apps/nextjs/src/app/api/preview/[token]/[id].tsx.disabled
  apps/nextjs/src/app/client-home.tsx
  apps/nextjs/src/app/layout.tsx
  apps/nextjs/src/organisms/SiteFooter/SiteFooter.tsx
  apps/nextjs/src/pages/About/AboutPage.module.css
  apps/nextjs/src/pages/About/AboutPage.tsx
  apps/nextjs/src/pages/latest/[content_type].tsx.disabled
  apps/nextjs/src/pages/media/index.module.css
  apps/nextjs/src/pages/media/index.tsx.disabled
  apps/nextjs/src/pages/search/index.tsx.disabled
  apps/nextjs/src/templates/Layout/Layout.tsx
  apps/nextjs/src/templates/Layout/index.ts
  yarn.lock
Due: eslint, prettier

chore: use next canary trying to fix type errors with `Link`
  apps/nextjs/next-env.d.ts
  apps/nextjs/package.json
  package.json
  yarn.lock
Due: eslint, prettier

ci(sb): setup pnpm in chromatic workflow
  .github/workflows/chromatic.yml
Due: prettier

feat: add interface for repeated classname props
  apps/nextjs/lib/types.d.ts
Due: eslint, prettier

fix(assets): run svgo on motif background to fix odd error
  apps/nextjs/public/assets/decorations/motif--bg.svg
Due: none

chore: color should be personal preference but here i am in a git commit
  .vscode/logan-center.code-workspace
Due: none

feat(layout): let Container accept classnames
  apps/nextjs/src/templates/Container/Container.tsx
Due: eslint, prettier

fix: load typekit css correctly
  apps/nextjs/src/app/default-tags.tsx
  apps/nextjs/src/app/layout.tsx
  apps/nextjs/src/app/providers.tsx
Due: eslint, prettier

feat: single page styles
  apps/nextjs/src/app/(pages)/about/SinglePage.tsx
  apps/nextjs/src/app/(pages)/podcast.tsx
  apps/nextjs/src/molecules/PageTitle/PageTitle.tsx
  apps/nextjs/src/organisms/Page/Header.tsx
  apps/nextjs/src/organisms/PostBody.tsx
Due: eslint, prettier

refactor(layout|seo): restore default meta at bottom of root layout
  apps/nextjs/src/app/layout.tsx
Due: eslint, prettier

fix: restore cover image fallback as svg not image
  apps/nextjs/src/organisms/CoverImage/CoverImageFallback.tsx
Due: eslint, prettier

fixup! refactor(layout|seo): restore default meta at bottom of root layout
  apps/nextjs/src/app/default-meta.ts
Due: eslint, prettier

chore: remove dotenv-vault due to non-usefulness
  .github/workflows/deploy-wordpress.yml
  Justfile
  apps/nextjs/package.json
  package.json
Due: prettier

ci: disable deploy-wordpress workflow
  .github/workflows/deploy-wordpress.yml
Due: prettier

fix: ensure graphql codegen is not scanning itself
  .graphqlrc.yml
Due: prettier

fix: restore vipgo apollo client logging
  apps/nextjs/lib/graphql/apollo-link.ts
  apps/nextjs/lib/graphql/client.ts
  apps/nextjs/src/app/(pages)/about/page.tsx
  apps/nextjs/src/app/providers.tsx
Due: eslint, prettier

fix(layout): apply container classes directly without component
  apps/nextjs/src/app/(archives)/authors/[author]/AuthorProfile.tsx
  apps/nextjs/src/app/(pages)/about/SinglePage.tsx
  apps/nextjs/src/app/client-home.tsx
  apps/nextjs/src/app/layout.tsx
  apps/nextjs/src/molecules/PageTitle/PageTitle.tsx
  apps/nextjs/src/molecules/utils.ts
  apps/nextjs/src/organisms/Alert/PreviewAlert.tsx
  apps/nextjs/src/organisms/Page/PageHeader.tsx
  apps/nextjs/src/organisms/SiteFooter/SiteFooter.tsx
  apps/nextjs/src/organisms/SiteHeader/SiteHeader.tsx
  apps/nextjs/src/templates/Container/Container.tsx
  apps/nextjs/src/templates/Container/index.ts
Due: eslint, prettier

fix(media|net): add image `remotePatterns` configuration
  apps/nextjs/next.config.js
Due: eslint, prettier

feat(theme): add twentytwentythree for sanity checks
  apps/wordpress/composer.json
  apps/wordpress/composer.lock
Due: prettier

feat(urls|posts|query): add uncommitted post query lib functions
  apps/nextjs/lib/posts.ts
Due: eslint, prettier

fix(graphql|plugins): install wp-graphql from repo instead of wpackagist
  apps/wordpress/composer.json
  apps/wordpress/composer.lock
Due: prettier

chore(previews|wp|urls): disable preview link filters for sanity check
  apps/wordpress/web/app/mu-plugins/klein-headless-lib.php
Due: php

fixup! fix: restore vipgo apollo client logging
  apps/nextjs/lib/graphql/apollo-link.ts
  apps/nextjs/lib/log.ts
Due: eslint, prettier

fix: tsconfig: remove `@pages` + add `@app` and `@src` aliases
  apps/nextjs/tsconfig.json
Due: prettier

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{js,jsx,ts,tsx,md,html,json,yml}
  markdown: any of: *.md
  php: any of: *.php
