Repository kleinweb/logan-center: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown, php

eslint:
  run: npx eslint {staged_files} --fix

prettier:
  run: npx prettier {staged_files} --write

markdown:
  run: npx markdownlint {staged_files} --fix

php:
  run: ./vendor/bin/phpcs {staged_files} --standard=.phpcs.xml

feat(wp:lib): proper autoloading
  packages/kleinweb-core-services/composer.json
  packages/kleinweb-core-services/composer.lock
  packages/kleinweb-core-services/inc/Urls.php
  packages/kleinweb-core-services/inc/UserRoles.php
  packages/kleinweb-core-services/inc/user-roles.php.disabled
Due: prettier, php

chore(content): disable placeholder content types
  apps/wordpress/composer.lock
  packages/logan-center-theme/config/poet.php
Due: php

feat(deps|wp:plugins): add `shadow-terms`
  apps/wordpress/composer.json
  apps/wordpress/composer.lock
Due: prettier

feat(wp:plugin|content|deps): replace acf-composer with extended-acf
  packages/logan-center-plugin/composer.json
  packages/logan-center-plugin/composer.lock
Due: prettier

feat(deps|wp:plugins): add `turn-comments-off`
  apps/wordpress/composer.json
  apps/wordpress/composer.lock
Due: prettier

chore(wp:plugins): move more to mu-plugins
  apps/wordpress/composer.json
  apps/wordpress/composer.lock
Due: prettier

fix(wp:plugins|gql): restore upstream tracking for wp-graphql-content-blocks
  apps/wordpress/composer.json
  apps/wordpress/composer.lock
Due: prettier

feat(wp:plugin): autoloader
  packages/logan-center-plugin/composer.json
  packages/logan-center-plugin/logan-center-plugin.php
  packages/logan-center-plugin/src/BlockEditor.php
  packages/logan-center-plugin/src/Blocks.php
Due: prettier, php

feat(content): add post types and taxos
  apps/wordpress/web/app/mu-plugins/kleinweb-headless-lib.php
  packages/kleinweb-core-services/klein-core-services.php
  packages/logan-center-plugin/composer.json
  packages/logan-center-plugin/composer.lock
  packages/logan-center-plugin/data/acf-export-2023-03-02.json
  packages/logan-center-plugin/logan-center-plugin.php
  packages/logan-center-plugin/src/BlockEditor.php
  packages/logan-center-plugin/src/Blocks.php
  packages/logan-center-plugin/src/Concerns/OnInit.php
  packages/logan-center-plugin/src/Concerns/RegistersPostType.php
  packages/logan-center-plugin/src/Concerns/RegistersTaxonomy.php
  packages/logan-center-plugin/src/ContentTypes/Article.php
  packages/logan-center-plugin/src/ContentTypes/Project.php
  packages/logan-center-plugin/src/ContentTypes/Theme.php
Due: prettier, php

chore(intellij): add `.idea` configuration
  .idea/.gitignore
  .idea/GitLink.xml
  .idea/cssdialects.xml
  .idea/deployment.xml
  .idea/git_toolbox_prj.xml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/jsonCatalog.xml
  .idea/logan-center.iml
  .idea/modules.xml
  .idea/php.xml
  .idea/prettier.xml
  .idea/rcb-settings.xml
  .idea/scopes/Next_js.xml
  .idea/scopes/WordPress_Bedrock.xml
  .idea/sonarlint/issuestore/index.pb
  .idea/sonarlint/securityhotspotstore/index.pb
  .idea/vcs.xml
  .idea/webResources.xml
  .idea/webServers.xml
Due: none

chore: php tooling / code quality
  .vscode/logan-center.code-workspace
  packages/logan-center-plugin/.vscode/settings.json
  packages/logan-center-plugin/composer.json
  packages/logan-center-plugin/composer.lock
  packages/logan-center-plugin/phpcs.xml
  packages/logan-center-plugin/pint.json
Due: prettier

Revert "chore(intellij): add `.idea` configuration"
  .idea/.gitignore
  .idea/GitLink.xml
  .idea/cssdialects.xml
  .idea/deployment.xml
  .idea/git_toolbox_prj.xml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/jsonCatalog.xml
  .idea/logan-center.iml
  .idea/modules.xml
  .idea/php.xml
  .idea/prettier.xml
  .idea/rcb-settings.xml
  .idea/scopes/Next_js.xml
  .idea/scopes/WordPress_Bedrock.xml
  .idea/sonarlint/issuestore/index.pb
  .idea/sonarlint/securityhotspotstore/index.pb
  .idea/vcs.xml
  .idea/webResources.xml
  .idea/webServers.xml
Due: none

chore: ide stuff
  .gitignore
  .vscode/logan-center.code-workspace
  .vscode/settings.json
  apps/wordpress/.vscode/settings.json
  packages/kleinweb-core-services/.vscode/settings.json
  packages/logan-center-plugin/.vscode/settings.json
  packages/logan-center-plugin/pint.json
  packages/logan-center-theme/.vscode/settings.json
  pint.json
Due: prettier

chore(wp:plugins|gql): updates
  apps/wordpress/composer.lock
  apps/wordpress/web/app/mu-plugins/kleinweb-headless-lib.php
  packages/kleinweb-core-services/klein-core-services.php
Due: php

feat(content): disable builtin "Post" post type for fresh start with "Articles"
  packages/logan-center-plugin/logan-center-plugin.php
  packages/logan-center-plugin/src/ContentTypes/Builtins.php
Due: php

feat(content): set up "Theme" as "Controlled Taxonomy" with static terms
  packages/logan-center-plugin/src/ContentTypes/Theme.php
Due: php

chore(reuse): annotate
  packages/logan-center-plugin/phpcs.xml
  packages/logan-center-plugin/src/Concerns/OnInit.php
  packages/logan-center-plugin/src/Concerns/RegistersPostType.php
  packages/logan-center-plugin/src/Concerns/RegistersTaxonomy.php
  packages/logan-center-plugin/src/ContentTypes/Article.php
  packages/logan-center-plugin/src/ContentTypes/Builtins.php
  packages/logan-center-plugin/src/ContentTypes/Project.php
  packages/logan-center-plugin/src/ContentTypes/Theme.php
Due: php

chore: fmt
  apps/wordpress/web/app/mu-plugins/kleinweb-headless-lib.php
Due: php

fix(content|wp:admin): move but disable menu icon for Projects
  packages/logan-center-plugin/src/ContentTypes/Article.php
  packages/logan-center-plugin/src/ContentTypes/Project.php
Due: php

feat(content|wp:admin): description for default Project term
  packages/logan-center-plugin/src/ContentTypes/Project.php
Due: php

refactor(content|wp:admin): rename "Theme" to "Scope" to reduce headaches
  packages/logan-center-plugin/logan-center-plugin.php
  packages/logan-center-plugin/src/ContentTypes/Article.php
  packages/logan-center-plugin/src/ContentTypes/Project.php
  packages/logan-center-plugin/src/ContentTypes/Scope.php
Due: php

feat(urls|content): register finalized url structures
  apps/wordpress/composer.lock
  packages/logan-center-plugin/composer.json
  packages/logan-center-plugin/lib/utils.php
  packages/logan-center-plugin/src/ContentTypes/Article.php
  packages/logan-center-plugin/src/ContentTypes/Builtins.php
  packages/logan-center-plugin/src/ContentTypes/Project.php
  packages/logan-center-plugin/src/ContentTypes/Scope.php
Due: prettier, php

fix(wp:site-plugin): declare `onInit` as abstract trait method
  packages/logan-center-plugin/src/Acf.php
  packages/logan-center-plugin/src/Concerns/OnInit.php
Due: php

fix(taxos|wp:admin): restore "Theme" labelling
  packages/logan-center-plugin/src/ContentTypes/Scope.php
Due: php

feat(articles|taxos): allow Scope->Article connection
  packages/logan-center-plugin/src/ContentTypes/Scope.php
Due: php

fix(posts|urls): set desired permastruct
  apps/wordpress/web/app/mu-plugins/kleinweb-headless-lib.php
Due: php

fix(content): disable custom posts and taxonomies
  packages/logan-center-plugin/logan-center-plugin.php
Due: php

chore: remove stub
  packages/logan-center-plugin/src/Acf.php
Due: php

fix(vscode): seems that the typescript path was wrong
  .vscode/logan-center.code-workspace
Due: none

chore(deps): automatic update
  yarn.lock
Due: none

fix(vscode|lint): unset prettier config path for correct resolution
  .vscode/logan-center.code-workspace
Due: none

feat(content): implement post designs
  apps/nextjs/src/organisms/Page/PageHeader.tsx
  apps/nextjs/src/organisms/PostBody.tsx
Due: eslint, prettier

chore(gql|content): update schema
  apps/nextjs/gql/graphql.ts
  graphql.schema.json
Due: eslint, prettier

chore(wp:plugins): add jetpack dev constant for development envs
  apps/wordpress/config/environments/development.php
Due: php

feat(monitoring): add sentry integration to wp and next apps
  .gitignore
  apps/nextjs/.env.example
  apps/nextjs/next.config.js
  apps/nextjs/package.json
  apps/nextjs/sentry.client.config.js
  apps/nextjs/sentry.edge.config.js
  apps/nextjs/sentry.properties
  apps/nextjs/sentry.properties.license
  apps/nextjs/sentry.server.config.js
  apps/wordpress/.env.example
  apps/wordpress/composer.json
  apps/wordpress/composer.lock
  apps/wordpress/config/application.php
  packages/logan-center-plugin/logan-center-plugin.php
  turbo.json
  yarn.lock
Due: eslint, prettier, php

chore: cleanup unnecessary gitignore stuff
  .gitignore
  apps/nextjs/.gitignore
  apps/wordpress/.gitignore
  packages/kleinweb-core-services/.gitignore
  packages/logan-center-plugin/.gitignore
  packages/logan-center-theme/.gitignore
Due: none

fix: update some incorrect gitignore patterns
  .gitignore
Due: none

fix: install `pint` via composer at repo root
  .vscode/logan-center.code-workspace
  composer.json
  composer.lock
Due: prettier

feat(deps|wp:plugins): add `wp-graphql-cors`
  apps/nextjs/gql/graphql.ts
  apps/nextjs/lib/graphql/apollo-link.ts
  apps/wordpress/composer.json
  apps/wordpress/composer.lock
  graphql.schema.json
Due: eslint, prettier

feat(wp:site-plugin): add fuxt-backend selections
  packages/logan-center-plugin/blocks/README.md
  packages/logan-center-plugin/blocks/credit/block.css
  packages/logan-center-plugin/blocks/credit/block.php
  packages/logan-center-plugin/data/acf/developer-settings.json
  packages/logan-center-plugin/data/acf/image-meta.json
  packages/logan-center-plugin/data/acf/site-options.json
  packages/logan-center-plugin/inc/acf-functions.php
  packages/logan-center-plugin/inc/cookie-manager.php
  packages/logan-center-plugin/inc/developer-role.php
  packages/logan-center-plugin/inc/gql-functions.php
  packages/logan-center-plugin/inc/gutenberg-functions.php
  packages/logan-center-plugin/inc/svg.php
  packages/logan-center-plugin/inc/theme-config.php
  packages/logan-center-plugin/inc/widgets.php
  packages/logan-center-plugin/inc/wp-functions.php
  packages/logan-center-plugin/logan-center-plugin.php
  packages/logan-center-plugin/resources/css/admin.css
  packages/logan-center-plugin/resources/css/login.css
  packages/logan-center-plugin/resources/images/logo-funkhaus.svg
  packages/logan-center-plugin/resources/js/admin.js
  packages/logan-center-theme/composer.json
Due: eslint, prettier, markdown, php

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{js,jsx,ts,tsx,md,html,json,yml}
  markdown: any of: *.md
  php: any of: *.php
