Repository kleinweb/logan-center: changes, and which lefthook commands are due for each by the changed paths.
All: format-prettier, lint-js

lefthook.yml:

# TODO: skip impure attrs - https://github.com/divnix/std/blob/12b3d2bcf7313e9ad790d575992fd69be3767a9f/cells/std/nixago/lefthook.nix#L12-L28

commit-msg:
  scripts:
    "commitlint.sh":
      runner: nix develop --command

pre-commit:
  parallel: true
  commands:
    format-prettier:
      glob: "*.{css,html,json,md,mdx,scss}"
      run: prettier --write {staged_files}
    lint-js:
      glob: "*.{js,ts,jsx,tsx}"
      run: yarn lint {staged_files}

pre-push:
  commands:
    build-nextjs-app:
      run: yarn build

fix(builds): lint *all* files with `yarn lint` to work around flags
  lefthook.yml
Due: none

feat(css): add tailwindcss
  .pnp.cjs
  package.json
  pages/index.tsx
  postcss.config.js
  styles/globals.css
  tailwind.config.js
  yarn.lock
Due: format-prettier, lint-js

feat(stories): add basic storybook configuration
  .eslintrc.json
  .pnp.cjs
  .storybook/main.js
  .storybook/preview.js
  package.json
  stories/Button.stories.tsx
  stories/Button.tsx
  stories/Header.stories.tsx
  stories/Header.tsx
  stories/Introduction.stories.mdx
  stories/Page.stories.tsx
  stories/Page.tsx
  stories/assets/code-brackets.svg
  stories/assets/colors.svg
  stories/assets/comments.svg
  stories/assets/direction.svg
  stories/assets/flow.svg
  stories/assets/plugin.svg
  stories/assets/repo.svg
  stories/assets/stackalt.svg
  stories/button.css
  stories/header.css
  stories/page.css
  yarn.lock
Due: format-prettier, lint-js

chore(deps): relax devDependencies version constraints
  package.json
  yarn.lock
Due: format-prettier

chore(deps): add `storybook-addon-next`
  .pnp.cjs
  .storybook/main.js
  package.json
  yarn.lock
Due: format-prettier, lint-js

chore(deps): use "zero-install" compatible yarn gitignore entries
  .gitignore
Due: none

fix(css): copy demo homepage from nextjs tailwind example
  pages/index.tsx
  styles/Home.module.css
  tailwind.config.js
Due: format-prettier, lint-js

fix(stories|deps): add missing sb peer dependency
  .pnp.cjs
  package.json
  yarn.lock
Due: format-prettier

chore(stories|deps): remove sb/next plugin due to messy dep hell
  .pnp.cjs
  .storybook/main.js
  package.json
  stories/pages/Home.stories.jsx
  yarn.lock
Due: format-prettier, lint-js

chore(client): merge from Automattic/vip-go-nextjs-skeleton#101
  .pnp.cjs
  components/Blocks/Quote/Quote.test.tsx
  components/Image/Image.test.tsx
  components/PostContent/PostContent.tsx
  jest.config.js
  lib/redis/index.ts
  middleware.ts
  package.json
  pages/api/healthcheck.ts
  styles/globals.css
  styles/new.css
  yarn.lock
Due: format-prettier, lint-js

chore(sb|css): remove storybook and tailwind for now
  postcss.config.js
  stories/Button.stories.tsx
  stories/Button.tsx
  stories/Header.stories.tsx
  stories/Header.tsx
  stories/Introduction.stories.mdx
  stories/Page.stories.tsx
  stories/Page.tsx
  stories/assets/code-brackets.svg
  stories/assets/colors.svg
  stories/assets/comments.svg
  stories/assets/direction.svg
  stories/assets/flow.svg
  stories/assets/plugin.svg
  stories/assets/repo.svg
  stories/assets/stackalt.svg
  stories/button.css
  stories/header.css
  stories/page.css
  stories/pages/Home.stories.jsx
  tailwind.config.js
Due: format-prettier, lint-js

feat(types): enable ts strict mode
  tsconfig.json
Due: format-prettier

feat(ops:local): add lima vm configuration
  .gitignore
  flake.lock
  flake.nix
  nix/containers/default.nix
  nix/containers/devshellProfiles.nix
  nix/containers/lima/logan-center.yml
  nix/default.nix
  nix/devshells/default.nix
Due: none

feat(ops): add docker-compose w/bitnami before realising no ARM support
  .gitignore
  docker-compose.yml
  nix/containers/devshellProfiles.nix
Due: none

chore: remove unnecessary `.node-version` file
  .node-version
Due: none

feat(ops|nix): add flake module for nixago config generation
  nix/devshells/default.nix
  nix/flake-modules/default.nix
  nix/flake-modules/nixago/flake-module.nix
Due: none

chore(ops): restore usage of treefmt for non-js files
  lefthook.yml
  nix/formatters/default.nix
Due: none

feat(ops:local): add wp-env configuration
  .gitignore
  .wp-env.json
  nix/default.nix
  nix/wp-env/default.nix
  treefmt.toml
Due: format-prettier

fix(ops:devshell): use builtin `$PRJ_DATA_DIR` instead of `/data/`
  .gitignore
  nix/containers/devshellProfiles.nix
Due: none

refactor(ops:local): generate vm config file with nixago
  .gitignore
  nix/containers/default.nix
  nix/containers/devshellProfiles.nix
  nix/containers/lima/logan-center.yml
  nix/containers/nixagoFiles/lima-vm.nix
Due: none

chore(nix): remove unused colima input
  flake.lock
  flake.nix
Due: none

feat(ops:nix): add flake module for project meta
  .gitignore
  flake.nix
  nix/containers/devshellProfiles.nix
  nix/devshells/default.nix
  nix/flake-modules/default.nix
  nix/flake-modules/project/flake-module.nix
Due: none

fix(ops:local): prevent immediate failure during vm init
  nix/containers/devshellProfiles.nix
Due: none

feat(ops:local): add working configuration for wp-env w/docker desktop
  .pnp.cjs
  docker-compose.yml
  nix/containers/default.nix
  nix/containers/devshell.nix
  nix/default.nix
  nix/lima-vm/default.nix
  nix/lima-vm/devshell.nix
  nix/lima-vm/nixagoFiles.nix
  nix/wp-env/default.nix
  package.json
  yarn.lock
Due: format-prettier

chore(deps): move graphql-codegen deps to devDeps
  package.json
Due: format-prettier

fix(deps|graphql): resolve peer deps properly to generate queries
  .gitignore
  .pnp.cjs
  package.json
  yarn.lock
Due: format-prettier

ci: re-enable production build on pre-push hook
  lefthook.yml
Due: none

fix: ensure `.env` files are ignored
  .gitignore
Due: none

chore(deps): update yarn.lock
  yarn.lock
Due: none

chore(sb): remove old configs
  .storybook/main.js
  .storybook/preview.js
Due: lint-js

feat(deps): use npm instead of yarn
  .gitignore
  .pnp.cjs
  .pnp.loader.mjs
  .yarnrc.yml
  README.md
  lefthook.yml
  nix/devshells/profiles/common.nix
  nix/wp-env/default.nix
  package-lock.json
  package.json
  yarn.lock
Due: format-prettier
