Repository kleinweb/logan-center: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown, php

eslint:
  run: npx eslint {staged_files} --fix

prettier:
  run: npx prettier {staged_files} --write

markdown:
  run: npx markdownlint {staged_files} --fix

php:
  run: ./vendor/bin/phpcs {staged_files} --standard=.phpcs.xml

feat: add tasks for wp setup
  Justfile
  apps/wordpress/Justfile
Due: none

fixup! chore(reuse): yep
  Justfile
  apps/nextjs-minimal/components/SiteFooter/FinePrint.tsx
Due: eslint, prettier

docs: badges for netlify + verified REUSE status + divnix/std
  README.md
Due: prettier, markdown

fixup! refactor: move `nextjs-minimal` to `nextjs`
  .eslintrc.js
Due: eslint, prettier

hmmmmmm
  apps/nextjs/components/ParseContent.tsx
  apps/nextjs/graphql/apollo-provider.tsx
  apps/nextjs/graphql/apollo.ts
  apps/nextjs/graphql/fragments/FeaturedImageFields.graphql
  apps/nextjs/graphql/fragments/MenuItems.graphql
  apps/nextjs/graphql/fragments/Settings.graphql
  apps/nextjs/graphql/queries/AllPages.graphql
  apps/nextjs/graphql/queries/AllPosts.graphql
  apps/nextjs/lib/constants.ts
  apps/nextjs/lib/helpers.ts
  apps/nextjs/lib/queries.ts
  apps/nextjs/lib/types.d.ts
  apps/nextjs/pages/[...slug].tsx
  apps/nextjs/pages/index.tsx
  apps/nextjs/pages/latest/[content_type].tsx
  apps/nextjs/pages/media/index.tsx
  apps/nextjs/pages/preview/[token]/[id].tsx
  apps/nextjs/pages/search/index.tsx
  apps/nextjs/tsconfig.json
Due: eslint, prettier

feat(secrets): use `dotenv-vault` for environment secrets management
  Justfile
  apps/wordpress/.env.vault
  package.json
  yarn.lock
Due: prettier

feat(wp:plugins|deps): add `intervention`
  apps/wordpress/composer.json
  apps/wordpress/composer.lock
Due: prettier

feat(env|wp|secrets): source wordpress dotenv file in direnv
  .envrc
Due: none

chore(vscode|secrets): update dotenv plugin recommendation
  .vscode/extensions.json
Due: prettier

chore(reuse): yep
  .eslintrc.js
  .reuse/dep5
  apps/nextjs-minimal/.eslintrc.js
  apps/nextjs-minimal/components/Meta/Meta.tsx
  apps/nextjs-minimal/components/Telemetry/Telemetry.tsx
  apps/nextjs-minimal/lib/constants.ts
  apps/nextjs-minimal/lib/interfaces/post.ts
  apps/nextjs-minimal/styles/globals.css
  apps/nextjs-minimal/svgr.config.js
  apps/nextjs-minimal/tailwind.config.js
  apps/wordpress/Justfile
  apps/wordpress/flake.nix
  apps/wordpress/web/index.php
  codegen.ts
  packages/eslint-config-custom/index.js
  packages/ui/.eslintrc.js
  packages/ui/src/components/ActiveLink/index.ts
  packages/ui/src/components/Buttons/ButtonWithIcon.tsx
  packages/ui/src/components/Buttons/LinkButton.tsx
  packages/ui/src/components/Buttons/index.ts
  packages/ui/src/styles.css
  packages/ui/tailwind.config.js
  packages/ui/tsup.config.ts
Due: eslint, prettier, php

chore: duplicate gitignore files
  .gitignore
  apps/nextjs-app/.gitignore
  apps/wordpress/.gitignore
Due: none

feat: add wordpress from bedrock template
  .gitignore
  Justfile
  apps/wordpress/.ddev/config.yaml
  apps/wordpress/.env.example
  apps/wordpress/.gitignore
  apps/wordpress/CHANGELOG.md
  apps/wordpress/Justfile
  apps/wordpress/LICENSE.md
  apps/wordpress/README.md
  apps/wordpress/composer.json
  apps/wordpress/composer.lock
  apps/wordpress/config/application.php
  apps/wordpress/config/environments/development.php
  apps/wordpress/config/environments/staging.php
  apps/wordpress/flake.nix
  apps/wordpress/nix/_automation/devshells.nix
  apps/wordpress/phpcs.xml
  apps/wordpress/projects.toml
  apps/wordpress/web/app/db.php
  apps/wordpress/web/app/mu-plugins/bedrock-autoloader.php
  apps/wordpress/web/app/plugins/.gitkeep
  apps/wordpress/web/app/themes/.gitkeep
  apps/wordpress/web/app/uploads/.gitkeep
  apps/wordpress/web/index.php
  apps/wordpress/web/wp-config.php
  apps/wordpress/wp-cli.yml
Due: prettier, markdown, php

chore(tasks): shorten license task names
  Justfile
Due: none

feat(tasks|deps): install `just` via npm for later use in ci
  package.json
  yarn.lock
Due: prettier

feat(tasks|wp|deps): add commands to install deps and wp
  Justfile
  apps/wordpress/Justfile
Due: none

feat: add nextjs-wordpress plugin and theme
  .reuse/dep5
  apps/wordpress/.env.example
  apps/wordpress/composer.json
  apps/wordpress/composer.lock
  apps/wordpress/flake.nix
  apps/wordpress/nix/_automation/devshells.nix
  packages/nextjs-wordpress-plugin/README.md
  packages/nextjs-wordpress-plugin/composer.json
  packages/nextjs-wordpress-plugin/inc/blocks.php
  packages/nextjs-wordpress-plugin/inc/editor.php
  packages/nextjs-wordpress-plugin/inc/links.php
  packages/nextjs-wordpress-plugin/inc/media.php
  packages/nextjs-wordpress-plugin/inc/menus.php
  packages/nextjs-wordpress-plugin/inc/revalidation.php
  packages/nextjs-wordpress-plugin/inc/wp-graphql.php
  packages/nextjs-wordpress-plugin/inc/yoast.php
  packages/nextjs-wordpress-plugin/nextjs-wordpress-plugin.php
  packages/nextjs-wordpress-theme/README.md
  packages/nextjs-wordpress-theme/composer.json
  packages/nextjs-wordpress-theme/functions.php
  packages/nextjs-wordpress-theme/index.php
  packages/nextjs-wordpress-theme/screenshot.png
  packages/nextjs-wordpress-theme/style.css
  packages/nextjs-wordpress-theme/theme.json
Due: prettier, markdown, php

chore(deps|wp): remove `@wordpress/env`
  .gitignore
  .wp-env/.htaccess
  apps/nextjs-app/.gitignore
  apps/wordpress/.gitignore
  nix/wordpress/devshellProfiles.nix
  nix/wordpress/nixago.nix
  package.json
  treefmt.toml
Due: prettier

chore(vscode|wp): configure intelephense?
  .vscode/logan-center.code-workspace
  apps/wordpress/.vscode/settings.json
Due: prettier

fix(wp): add dotenv consts to config
  apps/wordpress/.env.example
  apps/wordpress/config/application.php
Due: php

fix(wp): move theme into `themes` directory directly
  apps/wordpress/composer.json
  apps/wordpress/web/app/themes/logan-center/README.md
  apps/wordpress/web/app/themes/logan-center/functions.php
  apps/wordpress/web/app/themes/logan-center/index.php
  apps/wordpress/web/app/themes/logan-center/screenshot.png
  apps/wordpress/web/app/themes/logan-center/style.css
  apps/wordpress/web/app/themes/logan-center/theme.json
  packages/nextjs-wordpress-theme/composer.json
Due: prettier, markdown, php

fixup! fix(wp): add dotenv consts to config
  apps/wordpress/config/application.php
Due: php

chore: update yarn
  .yarn/releases/yarn-4.0.0-rc.39.cjs
  .yarnrc.yml
  package.json
Due: prettier

fix: tell prettier to ignore vscode files
  .prettierignore
Due: none

chore: bump deps to fix hanging `ui` build due to `@types/rimraf`
  package.json
  packages/tailwind-config/package.json
  packages/tu-assets/package.json
  packages/ui/package.json
  yarn.lock
Due: prettier

fix: nextjs env vars should actually include `NEXT_PUBLIC_` prefix
  apps/nextjs/.env.example
  apps/nextjs/Readme.md
  apps/nextjs/graphql/apollo-link.ts
  apps/nextjs/wp.config.js
Due: eslint, prettier, markdown

fix: update graphql generation and other upstream stuff
  .yarnrc.yml
  apps/nextjs/.env.example
  apps/nextjs/codegen.ts
  apps/nextjs/graphql/generated/fragmentMatcher.ts
  apps/nextjs/graphql/generated/index.tsx
  apps/nextjs/lib/hooks/useInternalLinkRouting.ts
  apps/nextjs/lib/links.test.ts
  apps/nextjs/next.config.js
  apps/nextjs/package.json
  apps/nextjs/pages/api/hello.ts
  apps/nextjs/pages/api/robots.ts
  apps/nextjs/pages/index.tsx
  apps/nextjs/pages/media/index.module.css
  apps/nextjs/pages/media/index.tsx
  apps/nextjs/wp.config.js
  apps/wordpress/.ddev/config.yaml
  apps/wordpress/.env.example
  apps/wordpress/Justfile
  apps/wordpress/composer.json
  apps/wordpress/composer.lock
  apps/wordpress/config/application.php
  apps/wordpress/config/environments/development.php
  apps/wordpress/web/.htaccess
  package.json
  packages/eslint-config-custom/package.json
  packages/ui/package.json
  turbo.json
  yarn.lock
Due: eslint, prettier, php

fix: use correct wp install path
  apps/wordpress/Justfile
Due: none

chore(vscode): move shared settings to `settings.json`
  .vscode/logan-center.code-workspace
  .vscode/settings.json
Due: prettier

chore(secrets): configurate dotenv-vault for `apps/nextjs` + build for wp app
  apps/nextjs/.env.vault
  apps/wordpress/.env.example
  apps/wordpress/.env.vault
Due: none

chore: cleanup
  Justfile
  apps/nextjs/codegen.ts
Due: eslint, prettier

chore(reuse|wp): update licenses + remove unused resources
  .reuse/dep5
  apps/nextjs-minimal/public/android-chrome-192x192.png
  apps/nextjs-minimal/public/android-chrome-384x384.png
  apps/nextjs-minimal/public/apple-touch-icon.png
  apps/nextjs-minimal/public/browserconfig.xml
  apps/nextjs-minimal/public/favicon-16x16.png
  apps/nextjs-minimal/public/favicon-32x32.png
  apps/nextjs-minimal/public/favicon.ico
  apps/nextjs-minimal/public/mstile-150x150.png
  apps/nextjs-minimal/public/safari-pinned-tab.svg
  apps/nextjs-minimal/public/site.webmanifest
  apps/nextjs/.eslintrc.js
  packages/nextjs-wordpress-plugin/README.md
  packages/nextjs-wordpress-plugin/composer.json
  packages/nextjs-wordpress-plugin/inc/blocks.php
  packages/nextjs-wordpress-plugin/inc/editor.php
  packages/nextjs-wordpress-plugin/inc/links.php
  packages/nextjs-wordpress-plugin/inc/media.php
  packages/nextjs-wordpress-plugin/inc/menus.php
  packages/nextjs-wordpress-plugin/inc/revalidation.php
  packages/nextjs-wordpress-plugin/inc/wp-graphql.php
  packages/nextjs-wordpress-plugin/inc/yoast.php
  packages/nextjs-wordpress-plugin/nextjs-wordpress-plugin.php
Due: eslint, prettier, markdown, php

fix: pull in updated vipgo components
  apps/nextjs/.env.example
  apps/nextjs/components/Blocks/ImageBlock/ImageBlock.tsx
  apps/nextjs/components/Blocks/index.tsx
  apps/nextjs/components/Image/Image.test.tsx
  apps/nextjs/components/Image/Image.tsx
  apps/nextjs/components/Page/Page.tsx
  apps/nextjs/components/PostList/PostList.tsx
  apps/nextjs/pages/media/index.tsx
  apps/nextjs/wp.config.js
Due: eslint, prettier

fix(eslint-config): allow unused vars with underscore prefix
  packages/eslint-config-custom/index.js
Due: eslint, prettier

chore(eslint-config): remove unused storybook rule overrides
  packages/eslint-config-custom/index.js
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{js,jsx,ts,tsx,md,html,json,yml}
  markdown: any of: *.md
  php: any of: *.php
