Repository kleinweb/logan-center: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown, php

eslint:
  run: npx eslint {staged_files} --fix

prettier:
  run: npx prettier {staged_files} --write

markdown:
  run: npx markdownlint {staged_files} --fix

php:
  run: ./vendor/bin/phpcs {staged_files} --standard=.phpcs.xml

refactor: migrate components from `nextjs-minimal`
  apps/nextjs-minimal/components/SiteFooter/SiteFooter.tsx
  apps/nextjs-minimal/components/SiteHeader/SiteHeader.tsx
  apps/nextjs-minimal/lib/gtag.ts
  apps/nextjs-minimal/next-env.d.ts
  apps/nextjs-minimal/postcss.config.js
  apps/nextjs-minimal/tsconfig.json
  apps/nextjs/components/BackgroundVideo/Readme.md
  apps/nextjs/components/Container/Container.tsx
  apps/nextjs/components/Container/index.ts
  apps/nextjs/components/Layout/Layout.tsx
  apps/nextjs/components/Layout/index.ts
  apps/nextjs/components/Meta/Meta.tsx
  apps/nextjs/components/Meta/index.ts
  apps/nextjs/components/Post/CoverImage.tsx
  apps/nextjs/components/Post/Post.tsx
  apps/nextjs/components/Post/PostBody.tsx
  apps/nextjs/components/Post/PostHeader.tsx
  apps/nextjs/components/Post/PostTitle.tsx
  apps/nextjs/components/Post/index.ts
  apps/nextjs/components/SiteFooter/FinePrint.tsx
  apps/nextjs/components/SiteFooter/SiteFooter.tsx
  apps/nextjs/components/SiteFooter/SocialIcons.tsx
  apps/nextjs/components/SiteFooter/index.ts
  apps/nextjs/components/SiteHeader/SiteHeader.tsx
  apps/nextjs/components/SiteHeader/index.ts
  apps/nextjs/components/Telemetry/Telemetry.tsx
  apps/nextjs/components/Telemetry/index.ts
  apps/nextjs/lib/constants.ts
  apps/nextjs/lib/interfaces/post.ts
  apps/nextjs/pages/Home/Hero.tsx
  apps/nextjs/pages/_document.tsx
  apps/nextjs/pages/media/index.tsx
  apps/nextjs/pages/podcast.tsx.disabled
  apps/nextjs/styles/globals.css
  apps/nextjs/svgr.config.js
  apps/nextjs/tailwind.config.js
  apps/nextjs/tsconfig.json
Due: eslint, prettier, markdown

fix(env|eslint): enforce undeclared env vars rule
  apps/nextjs/.eslintrc.js
  turbo.json
Due: eslint, prettier

fix: remove unnecessary redis lib
  apps/nextjs/Readme.md
  apps/nextjs/lib/redis/client.ts
  apps/nextjs/lib/redis/index.ts
  apps/nextjs/package.json
  apps/nextjs/pages/api/books.ts
  yarn.lock
Due: eslint, prettier, markdown

fixup! refactor: migrate components from `nextjs-minimal`
  .eslintrc.js
  .vscode/logan-center.code-workspace
  apps/nextjs-minimal/.eslintrc.js
  apps/nextjs-minimal/.gitignore
  apps/nextjs-minimal/README.md
  apps/nextjs-minimal/next.config.js
  apps/nextjs-minimal/package.json
  apps/nextjs-minimal/pages/_app.tsx
  apps/nextjs-minimal/pages/index.tsx
  apps/nextjs-minimal/public/assets/.gitkeep
  apps/nextjs/components/Blocks/index.ts
  apps/nextjs/components/Layout/Layout.tsx
  apps/nextjs/components/Page/Page.tsx
  apps/nextjs/components/PostContent/PostContent.tsx
  apps/nextjs/lib/gtag.ts
  apps/nextjs/package.json
  apps/nextjs/pages/[...slug].tsx
  apps/nextjs/pages/_app.tsx
  apps/nextjs/pages/index.tsx
  apps/nextjs/pages/latest/[content_type].tsx
  apps/nextjs/pages/media/index.tsx
  apps/nextjs/pages/search/index.tsx
  apps/nextjs/tsconfig.json
  yarn.lock
Due: eslint, prettier, markdown

chore: add netlify cli to devshell
  nix/_automation/devshells.nix
Due: none

ci: configure netlify per branch and set up dotenv vault there
  .gitignore
  apps/nextjs/.env.vault
  apps/nextjs/.gitignore
  apps/nextjs/package.json
  apps/wordpress/.gitignore
  netlify.toml
  package.json
  yarn.lock
Due: prettier

fix(assets): disable typescript output for svgr
  apps/nextjs/svgr.config.js
Due: eslint, prettier

fix(graphql): ignore generated files
  apps/nextjs/.gitignore
  apps/nextjs/graphql/generated/fragmentMatcher.ts
  apps/nextjs/graphql/generated/index.tsx
Due: eslint, prettier

chore(secrets): vault update
  apps/nextjs/.env.vault
  apps/wordpress/.env.vault
Due: none

fix(theme): use minimal custom theme
  apps/wordpress/.gitignore
  apps/wordpress/Justfile
  apps/wordpress/composer.json
  apps/wordpress/composer.lock
Due: prettier

fix(wp:theme): clean up unused consts
  apps/wordpress/config/application.php
  apps/wordpress/web/app/themes/logan-center/index.php
Due: php

docs(wpgraphql|apache): add warning about `.htaccess`
  apps/wordpress/web/.htaccess
Due: none

chore(wp:theme): cleanup
  apps/wordpress/web/app/themes/logan-center/functions.php
  apps/wordpress/web/app/themes/logan-center/index.php
  apps/wordpress/web/app/themes/logan-center/style.css
Due: php

ci(wp): add fixmes to pre-emptively-committed workflow
  .github/workflows/deploy-wordpress.yml
Due: prettier

fix(styles): import correct files
  apps/nextjs/pages/_app.tsx
  apps/nextjs/styles/index.css
Due: eslint, prettier

refactor: fix everything by de-complicating and removing ui package
  .yarnrc.yml
  Justfile
  apps/nextjs/.eslintrc.js
  apps/nextjs/components/ActiveLink/ActiveLink.tsx
  apps/nextjs/components/ActiveLink/index.ts
  apps/nextjs/components/Buttons/Button.tsx
  apps/nextjs/components/Buttons/ButtonWithIcon.tsx
  apps/nextjs/components/Buttons/LinkButton.tsx
  apps/nextjs/components/Buttons/index.ts
  apps/nextjs/components/Headings/index.tsx
  apps/nextjs/components/Icons/Icon.tsx
  apps/nextjs/components/Icons/index.ts
  apps/nextjs/components/Icons/types.d.ts
  apps/nextjs/components/KleinBanner/KleinBanner.tsx
  apps/nextjs/components/KleinBanner/index.ts
  apps/nextjs/components/Layout/Layout.tsx
  apps/nextjs/components/SiteFooter/SiteFooter.tsx
  apps/nextjs/components/SiteHeader/SiteHeader.tsx
  apps/nextjs/package.json
  apps/nextjs/pages/index.tsx
  apps/nextjs/stories/Buttons.stories.tsx
  apps/nextjs/stories/Icons.stories.tsx
  apps/nextjs/stories/Panel.stories.tsx
  apps/nextjs/stories/Text.stories.tsx
  package.json
  packages/eslint-config-custom/index.js
  packages/eslint-config-custom/package.json
  packages/tu-assets/index.d.ts
  packages/ui/.eslintignore
  packages/ui/.eslintrc.js
  packages/ui/package.json
  packages/ui/src/index.ts
  packages/ui/src/styles.css
  packages/ui/tailwind.config.js
  packages/ui/tsconfig.json
  packages/ui/tsup.config.ts
  turbo.json
  yarn.lock
Due: eslint, prettier

chore(vscode): oops
  .vscode/logan-center.code-workspace
Due: none

chore: various php fixes
  apps/wordpress/composer.json
  apps/wordpress/composer.lock
  apps/wordpress/config/application.php
  apps/wordpress/config/environments/development.php
  apps/wordpress/config/environments/staging.php
  apps/wordpress/web/app/themes/logan-center/composer.json
  apps/wordpress/web/app/themes/logan-center/composer.lock
  apps/wordpress/web/app/themes/logan-center/functions.php
  apps/wordpress/web/app/themes/logan-center/index.php
  apps/wordpress/web/index.php
  apps/wordpress/web/wp-config.php
Due: prettier, php

fix(wp|db): set db collation to match actual `utf8mb4_unicode_ci`
  apps/wordpress/config/application.php
Due: php

fix(wp:theme): assorted wp-admin clutter cleanup
  apps/wordpress/web/app/themes/logan-center/functions.php
Due: php

feat: add a bunch of new queries
  apps/nextjs/graphql/fragments/ContentBlock.graphql
  apps/nextjs/graphql/fragments/ContentNode.graphql
  apps/nextjs/graphql/fragments/ContentType.graphql
  apps/nextjs/graphql/fragments/FeaturedImage.graphql
  apps/nextjs/graphql/fragments/GeneralSettings.graphql
  apps/nextjs/graphql/fragments/MediaItem.graphql
  apps/nextjs/graphql/fragments/Menu.graphql
  apps/nextjs/graphql/queries/AllPages.graphql
  apps/nextjs/graphql/queries/CategoryArchive.graphql
  apps/nextjs/graphql/queries/ContentNodeBySlug.graphql
  apps/nextjs/graphql/queries/ContentNodePreviewById.graphql
  apps/nextjs/graphql/queries/ContentNodesBySearchTerm.graphql
  apps/nextjs/graphql/queries/ContentTypeByName.graphql
  apps/nextjs/graphql/queries/MediaItems.graphql
  apps/nextjs/graphql/queries/SiteFooterMenu.graphql
  apps/nextjs/graphql/queries/SiteHeaderMenu.graphql
  apps/nextjs/pages/_app.tsx
Due: eslint, prettier

feat(nav): introduce dynamic nav menu generators
  apps/nextjs/components/SiteHeader/SiteHeader.tsx
  apps/nextjs/contexts/SiteMenus.tsx
  apps/nextjs/contexts/SiteSettings.tsx
  apps/nextjs/graphql/queries/SinglePage.graphql
  apps/nextjs/graphql/queries/SiteFooterMenu.graphql
  apps/nextjs/graphql/queries/SiteHeaderMenu.graphql
  apps/nextjs/graphql/queries/Sitewide.graphql
  apps/nextjs/graphql/queries/TaxonomyArchive.graphql
  apps/nextjs/lib/menus.ts
  apps/nextjs/lib/types.d.ts
  apps/nextjs/pages/_app.tsx
  apps/nextjs/pages/index.tsx
  apps/wordpress/web/app/mu-plugins/klein-core-lib.php
  apps/wordpress/web/app/themes/logan-center/functions.php
Due: eslint, prettier, php

chore: remove configuration complications from vipgo
  apps/nextjs/next.config.js
Due: eslint, prettier

chore: commit misc layout changes (post-abandonment)
  apps/nextjs/components/PostContent/PostContent.tsx
  apps/nextjs/pages/[...slug].tsx
Due: eslint, prettier

refactor: move ddev to repo root + install sage theme
  .ddev/config.yaml
  Justfile
  apps/wordpress/.env.example
  apps/wordpress/Justfile
  apps/wordpress/composer.json
  apps/wordpress/composer.lock
  apps/wordpress/config/application.php
  apps/wordpress/web/.htaccess
  apps/wordpress/wp-cli.yml
  nix/wordpress/devshellProfiles.nix
  package.json
  wp-cli.yml
  yarn.lock
Due: prettier, php

feat(wp:mu-plugins): add headless library
  apps/wordpress/.gitignore
  apps/wordpress/web/app/mu-plugins/kleinweb-headless-lib.php
Due: php

fix(content): replace external link 404
  apps/nextjs-minimal/pages/index.tsx
Due: eslint, prettier

fix(devshell|checks): remove treefmt-flake checks
  flake.lock
  flake.nix
  nix/formatters/default.nix
Due: none

chore(develop): release 1.0.0
  CHANGELOG.md
  package.json
Due: prettier, markdown

refactor(query): add more accurate menu and page queries
  apps/nextjs/contexts/SiteMenus.tsx
  apps/nextjs/graphql/fragments/MenuItems.graphql
  apps/nextjs/graphql/queries/FrontPage.graphql
  apps/nextjs/graphql/queries/SinglePage.graphql
  apps/nextjs/graphql/queries/SiteMenus.graphql
Due: eslint, prettier

fix(wp): be specific about the required php version
  apps/wordpress/composer.json
  apps/wordpress/composer.lock
Due: prettier

chore(types): enable strict null checks
  apps/nextjs/tsconfig.json
Due: prettier

chore(nextjs|vsc|types): tsdk settings for workspace folder
  apps/nextjs/.vscode/settings.json
Due: prettier

chore(next): remove some more WPVIP-specific stuff
  apps/nextjs/graphql/apollo-link.ts
  apps/nextjs/graphql/apollo.ts
  apps/nextjs/lib/log.ts
  apps/nextjs/middleware.ts
Due: eslint, prettier

chore(deps): bump caniuse
  yarn.lock
Due: none

fix: ignore env files properly
  .gitignore
  apps/nextjs/.gitignore
  apps/wordpress/.gitignore
  apps/wordpress/web/app/themes/logan-center-wp-next-theme/.gitignore
Due: none

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{js,jsx,ts,tsx,md,html,json,yml}
  markdown: any of: *.md
  php: any of: *.php
