Repository kleinweb/logan-center: changes, and which lefthook commands are due for each by the changed paths.
All: format-prettier, lint-js

format-prettier:
  run: prettier --write {staged_files}

lint-js:
  run: yarn lint

chore(deps:node): update to latest minor versions
  package-lock.json
  package.json
Due: format-prettier

chore(deps|css): add tailwindcss deps again
  package-lock.json
  package.json
  postcss.config.js
  tailwind.config.js
Due: format-prettier, lint-js

ci(env:local): add direnv hook to fetch git branch and display status
  .envrc
Due: none

ci(env:vscode): add required settings + recommended extensions
  .vscode/logan-center.code-workspace
Due: none

chore(css): load our own stylesheet with tailwindcss initialised
  pages/_app.tsx
  styles/_vip-go.css
  styles/globals.css
Due: format-prettier, lint-js

fix(deps:node): enforce `legacy-peer-deps` option
  .npmrc
  package-lock.json
Due: format-prettier

chore: replace some string references to vip-go
  .env.production
  components/Image/Image.tsx
  lib/links.test.ts
  middleware.ts
Due: lint-js

fix(media|ops): disable optimisation querystrings in `Image`
  components/Image/Image.tsx
Due: lint-js

ci(linters): add json schema declaration to eslint config
  .eslintrc.json
Due: format-prettier

ci(linters): remove redundant `next` eslint rules
  .eslintrc.json
Due: format-prettier

chore: re-order npm scripts for clearer(?) grouping
  package.json
Due: format-prettier

ci(graphql|env:prd): force endpoint env vars to point to local
  .env.production
Due: none

ci(linting): only run jest lints on test files
  .eslintrc.json
Due: format-prettier

chore(sb): restore storybook
  .eslintignore
  .eslintrc.json
  .storybook/main.js
  .storybook/preview.js
  lib/hooks/useInternalLinkRouting.ts
  package-lock.json
  package.json
Due: format-prettier, lint-js

ci(style): use standardjs-style prettier config via nixago
  .gitignore
  .prettierrc.json
  lefthook.yml
  nix/formatters/default.nix
  nix/formatters/nixagoFiles/prettierrc.json.nix
  treefmt.toml
Due: format-prettier

ci(style): add eslint plugin for tailwindcss
  .eslintrc.json
  components/Blocks/Quote/Quote.test.tsx
  components/Blocks/Quote/Quote.tsx
  package-lock.json
  package.json
Due: format-prettier, lint-js

chore(env:vscode): add eslint extension to recommendations
  .vscode/logan-center.code-workspace
Due: none

chore(sb): add demo stories
  stories/Button.stories.tsx
  stories/Button.tsx
  stories/Header.stories.tsx
  stories/Header.tsx
  stories/Introduction.stories.mdx
  stories/Page.stories.tsx
  stories/Page.tsx
  stories/assets/code-brackets.svg
  stories/assets/colors.svg
  stories/assets/comments.svg
  stories/assets/direction.svg
  stories/assets/flow.svg
  stories/assets/plugin.svg
  stories/assets/repo.svg
  stories/assets/stackalt.svg
  stories/button.css
  stories/header.css
  stories/page.css
Due: format-prettier, lint-js

chore(sb): add `storybook-addon-headless`
  .storybook/addons.js
  package-lock.json
  package.json
Due: format-prettier, lint-js

ci(sb): allow eslint to run on storybook config
  .eslintignore
Due: none

chore(sb): add `storybook-addon-designs`
  .storybook/addons.js
  .storybook/main.js
  package-lock.json
  package.json
Due: format-prettier, lint-js

ci(sb|deps): add chromatic cli
  .gitignore
  package-lock.json
  package.json
Due: format-prettier

feat(css:theme): add base colors+type+border-radius from figma
  tailwind.config.js
Due: lint-js

refactor(css): s/globals.css/index.css
  pages/_app.tsx
  styles/index.css
Due: format-prettier, lint-js

chore(css): remove unnecessary vip css backup file
  styles/_vip-go.css
Due: format-prettier

ci: output project meta to `kleinweb.config.json`
  .gitignore
  flake.nix
Due: none

feat(css|sb): load css in storybook
  .storybook/preview.js
Due: lint-js

chore(sb): move stock components into subdir
  stories/StockComponents/StockButton.stories.tsx
  stories/StockComponents/StockButton.tsx
  stories/StockComponents/StockHeader.stories.tsx
  stories/StockComponents/StockHeader.tsx
  stories/StockComponents/StockPage.stories.tsx
  stories/StockComponents/StockPage.tsx
  stories/StockComponents/button.css
  stories/StockComponents/header.css
  stories/StockComponents/page.css
Due: format-prettier, lint-js

chore: remove redundant `COPYING` file
  COPYING
Due: none

chore: add spdx license header to source files
  .reuse/dep5
  LICENSES/MIT.txt
  README.md
  codegen.yml
  flake.nix
  lefthook.yml
  nix/containers/default.nix
  nix/containers/devshell.nix
  nix/default.nix
  nix/devshells/default.nix
  nix/devshells/profiles/common.nix
  nix/devshells/profiles/default.nix
  nix/flake-modules/default.nix
  nix/flake-modules/devshell/flake-module.nix
  nix/flake-modules/nixago/flake-module.nix
  nix/flake-modules/project/flake-module.nix
  nix/formatters/default.nix
  nix/formatters/nixagoFiles/prettierrc.json.nix
  nix/lima-vm/default.nix
  nix/lima-vm/devshell.nix
  nix/lima-vm/nixagoFiles.nix
  nix/packages/default.nix
  nix/templates/default.nix
  nix/wp-env/default.nix
  package.json
  postcss.config.js
  stories/StockComponents/StockButton.stories.tsx
  stories/StockComponents/StockButton.tsx
  stories/StockComponents/StockHeader.stories.tsx
  stories/StockComponents/StockHeader.tsx
  stories/StockComponents/StockPage.stories.tsx
  stories/StockComponents/StockPage.tsx
  stories/StockComponents/button.css
  stories/StockComponents/header.css
  stories/StockComponents/page.css
  styles/index.css
  tailwind.config.js
  treefmt.toml
  wp.config.js
Due: format-prettier, lint-js

chore: add spdx licenses for miscellaneous files
  .commitlintrc.json.license
  .editorconfig
  .env.production
  .envrc
  .eslintrc.json.license
  .gitignore
  .npmrc
  .storybook/main.js
  .storybook/preview.js
  .vscode/logan-center.code-workspace.license
  .wp-env/.htaccess
  LICENSES/CC0-1.0.txt
  flake.lock.license
  package-lock.json.license
  package.json.license
  public/favicon.ico.license
  public/vercel.svg.license
  renovate.json.license
  tsconfig.json.license
Due: lint-js

chore(reuse): update source url
  .reuse/dep5
Due: none

fixup! chore: add spdx license header to source files
  nix/containers/default.nix
  nix/containers/devshell.nix
  nix/default.nix
  nix/devshells/default.nix
  nix/devshells/profiles/common.nix
  nix/devshells/profiles/default.nix
  nix/flake-modules/default.nix
  nix/flake-modules/devshell/flake-module.nix
  nix/flake-modules/nixago/flake-module.nix
  nix/flake-modules/project/flake-module.nix
  nix/formatters/default.nix
  nix/formatters/nixagoFiles/prettierrc.json.nix
  nix/lima-vm/default.nix
  nix/lima-vm/devshell.nix
  nix/lima-vm/nixagoFiles.nix
  nix/packages/default.nix
  nix/templates/default.nix
  nix/wp-env/default.nix
Due: none

ci(reuse): run pre-push license validation
  lefthook.yml
  package-lock.json
Due: format-prettier

ci(env:local): ensure wp-env instance is running before app check
  lefthook.yml
  package.json
Due: format-prettier

Path conditions:
  format-prettier: any of: *.{css,html,json,md,mdx,scss}
  lint-js: any of: *.{js,ts,jsx,tsx}
