Repository kleinweb/logan-center: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown, php

eslint:
  run: npx eslint {staged_files} --fix

prettier:
  run: npx prettier {staged_files} --write

markdown:
  run: npx markdownlint {staged_files} --fix

php:
  run: ./vendor/bin/phpcs {staged_files} --standard=.phpcs.xml

chore: i just dont understand what is up with `pint` in vscode
  .vscode/logan-center.code-workspace
  packages/kleinweb-core-services/.vscode/settings.json
  packages/logan-center-plugin/.vscode/settings.json
  packages/logan-center-theme/.vscode/settings.json
Due: prettier

fix(sitePlugin): remove journalistically-dangerous pre-publish sluggification
  packages/logan-center-plugin/inc/wp-functions.php
Due: php

fix(wp:site-plugin): homeurl and cookie fixes
  apps/nextjs/gql/graphql.ts
  apps/wordpress/config/application.php
  graphql.schema.json
  packages/logan-center-plugin/inc/acf-functions.php
  packages/logan-center-plugin/inc/cookie-manager.php
  packages/logan-center-plugin/inc/developer-role.php
  packages/logan-center-plugin/inc/gql-functions.php
  packages/logan-center-plugin/inc/wp-functions.php
  packages/logan-center-plugin/logan-center-plugin.php
Due: eslint, prettier, php

feat: introduce a shared phpcs ruleset for sanity
  .vscode/logan-center.code-workspace
  apps/wordpress/.vscode/settings.json
  apps/wordpress/composer.json
  apps/wordpress/composer.lock
  apps/wordpress/phpcs.xml
  composer.json
  composer.lock
  packages/kleinweb-core-services/.vscode/settings.json
  packages/kleinweb-core-services/composer.json
  packages/kleinweb-php-standards/Kleinweb/ruleset.xml
  packages/kleinweb-php-standards/composer.json
  packages/kleinweb-php-standards/composer.lock
  packages/logan-center-plugin/.vscode/settings.json
  packages/logan-center-plugin/composer.json
  packages/logan-center-plugin/composer.lock
  packages/logan-center-plugin/phpcs.xml
  packages/logan-center-theme/.vscode/settings.json
  packages/logan-center-theme/composer.json
  packages/logan-center-theme/composer.lock
Due: prettier

chore: avoid breaking changes in wpe gql plugin for now
  apps/wordpress/composer.json
Due: prettier

feat(wp): improved error handler for dev
  apps/wordpress/composer.json
  apps/wordpress/composer.lock
Due: prettier

fix(gql|wp:plugins): back to rolling release wpe gql blocks plugin
  apps/nextjs/gql/gql.ts
  apps/nextjs/gql/graphql.ts
  apps/nextjs/lib/graphql/queries/SinglePage.graphql
  apps/wordpress/composer.json
  apps/wordpress/composer.lock
  graphql.schema.json
Due: eslint, prettier

chore(reuse|phpStandards): add reuse header to ruleset
  packages/kleinweb-php-standards/Kleinweb/ruleset.xml
Due: none

chore: update sentry account / project dsns
  .reuse/dep5
  apps/nextjs/.env.example
  apps/nextjs/sentry.client.config.js
  apps/nextjs/sentry.edge.config.js
  apps/nextjs/sentry.properties.license
  apps/nextjs/sentry.server.config.js
  apps/wordpress/.env.example
  apps/wordpress/sentry.properties
Due: eslint, prettier

chore: commit composer.lock
  apps/wordpress/composer.lock
  packages/kleinweb-core-services/composer.lock
  packages/logan-center-core-plugin/composer.lock
  packages/logan-center-theme/composer.lock
Due: none

chore(deps): yarn
  apps/nextjs/next-env.d.ts
  apps/nextjs/package.json
  package.json
  packages/eslint-config-custom/package.json
  packages/logan-center-theme/package.json
  packages/tu-assets/package.json
  yarn.lock
Due: eslint, prettier

chore(deps): yarn upgrade to latest rc
  .yarn/releases/yarn-4.0.0-rc.40.cjs
  .yarnrc.yml
  package.json
Due: prettier

chore: remove unnecessary stub pages
  apps/nextjs/src/app/(archives)/press/page.tsx
  apps/nextjs/src/app/(pages)/projects/page.tsx
Due: eslint, prettier

fix: include `client` suffix for all client-side appdir components
  apps/nextjs/src/app/HomePage.client.tsx
  apps/nextjs/src/app/Providers.client.tsx
  apps/nextjs/src/app/Telemetry.client.tsx
  apps/nextjs/src/app/layout.tsx
  apps/nextjs/src/app/page.tsx
Due: eslint, prettier

chore(vscode): exclude built files from search
  .vscode/logan-center.code-workspace
Due: none

feat(queries): add query to get all "Reporting Themes"
  apps/nextjs/lib/graphql/queries/AllReportingThemes.graphql
Due: none

feat(queries): add assortment of fragments and queries
  apps/nextjs/lib/graphql/fragments/CoverImageFields.graphql
  apps/nextjs/lib/graphql/fragments/MediaItemDetails.graphql
  apps/nextjs/lib/graphql/fragments/SinglePageFields.graphql
  apps/nextjs/lib/graphql/fragments/TermSummary.graphql
  apps/nextjs/lib/graphql/fragments/ThumbnailImageFields.graphql
  apps/nextjs/lib/graphql/queries/AllReportingThemes.graphql
  apps/nextjs/src/app/(content)/themes/ThemesLandingPage.graphql
  apps/nextjs/src/molecules/ActiveLink/index.ts
Due: eslint, prettier

feat: add themes single page
  apps/nextjs/gql/gql.ts
  apps/nextjs/gql/graphql.ts
  apps/nextjs/src/app/(content)/themes/[theme]/SingleThemePage.graphql
  apps/nextjs/src/app/(content)/themes/[theme]/page.tsx
Due: eslint, prettier

feat: content hierarchy pages
  apps/nextjs/gql/gql.ts
  apps/nextjs/gql/graphql.ts
  apps/nextjs/lib/graphql/queries/CategoryByUri.graphql
  apps/nextjs/src/app/(content)/themes/ThemesLandingPage.graphql
  apps/nextjs/src/app/(content)/themes/[theme]/Project.graphql
  apps/nextjs/src/app/(content)/themes/[theme]/[project]/[slug]/page.tsx
  apps/nextjs/src/app/(content)/themes/[theme]/[project]/page.tsx
  apps/nextjs/src/app/(content)/themes/[theme]/page.tsx
  apps/nextjs/src/app/(content)/themes/page.tsx
Due: eslint, prettier

refactor(queries): define within typescript files
  apps/nextjs/gql/gql.ts
  apps/nextjs/gql/graphql.ts
  apps/nextjs/lib/graphql/fragments/CoverImageFields.graphql
  apps/nextjs/lib/graphql/fragments/GeneralSettings.graphql
  apps/nextjs/lib/graphql/fragments/MediaItemDetails.graphql
  apps/nextjs/lib/graphql/fragments/SinglePageFields.graphql
  apps/nextjs/lib/graphql/fragments/TermSummary.graphql
  apps/nextjs/lib/graphql/fragments/ThumbnailImageFields.graphql
  apps/nextjs/lib/graphql/fragments/global.ts
  apps/nextjs/lib/graphql/fragments/media.ts
  apps/nextjs/lib/graphql/fragments/pages.ts
  apps/nextjs/lib/graphql/fragments/terms.ts
  apps/nextjs/lib/graphql/queries/AllPagesPaths.graphql
  apps/nextjs/lib/graphql/queries/CategoryByUri.graphql
  apps/nextjs/lib/graphql/queries/SinglePage.graphql
  apps/nextjs/lib/graphql/queries/pages.ts
  apps/nextjs/lib/graphql/queries/terms.ts
  apps/nextjs/src/app/(content)/themes/ThemesLandingPage.graphql
  apps/nextjs/src/app/(content)/themes/[theme]/Project.graphql
  apps/nextjs/src/app/(content)/themes/[theme]/queries.ts
  apps/nextjs/src/app/(content)/themes/queries.ts
  apps/nextjs/src/app/(pages)/[...slug]/page.tsx
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{js,jsx,ts,tsx,md,html,json,yml}
  markdown: any of: *.md
  php: any of: *.php
