Repository kleinweb/logan-center: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown, php

eslint:
  run: npx eslint {staged_files} --fix

prettier:
  run: npx prettier {staged_files} --write

markdown:
  run: npx markdownlint {staged_files} --fix

php:
  run: ./vendor/bin/phpcs {staged_files} --standard=.phpcs.xml

fix(wp): fixes
  apps/wordpress/web/app/mu-plugins/klein-core-library/inc/user-roles.php
  apps/wordpress/web/app/mu-plugins/klein-core-library/klein-core-library.php
  apps/wordpress/web/app/themes/logan-center-theme/bud.config.js
Due: eslint, prettier, php

chore: eslint-config-next@canary
  apps/nextjs/package.json
  packages/eslint-config-custom/package.json
  pnpm-lock.yaml
Due: prettier

chore(wp:theme): attempt to appease the flaky bud
  apps/wordpress/web/app/themes/logan-center-theme/.npmrc
  apps/wordpress/web/app/themes/logan-center-theme/package.json
Due: prettier

chore(gql): schema update
  apps/nextjs/gql/graphql.ts
  graphql.schema.json
Due: eslint, prettier

feat(lib): add param to pass arbitrary data to js logger
  apps/nextjs/lib/log.ts
  apps/nextjs/src/app/(pages)/about/SinglePage.tsx
Due: eslint, prettier

chore: update flake inputs for newer version of pnpm
  flake.lock
Due: none

Revert "fix(deps|types|sb): pnpm migration for smoother sailing + fix types"
  .envrc
  .github/workflows/chromatic.yml
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  .npmrc
  .reuse/dep5
  .vscode/logan-center.code-workspace
  .vscode/settings.json
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-4.0.0-rc.39.cjs
  .yarnrc.yml
  Justfile
  README.md
  apps/nextjs/.gitignore
  apps/nextjs/.vscode/launch.json
  apps/nextjs/Readme.md
  apps/nextjs/package.json
  apps/nextjs/tsconfig.json
  apps/wordpress/.gitignore
  apps/wordpress/web/app/themes/logan-center-theme/.gitignore
  apps/wordpress/web/app/themes/logan-center-theme/README.md
  apps/wordpress/web/app/themes/logan-center-theme/package.json
  netlify.toml
  nix/_automation/devshells.nix
  package.json
  packages/tu-assets/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  yarn.lock
Due: prettier, markdown

fix(theme): continuing to fight against bud's indeterministic builds
  .yarnrc.yml
  apps/wordpress/web/app/themes/logan-center-theme/package.json
  yarn.lock
Due: prettier

fix(editor|blocks): enable only supported blocks
  apps/wordpress/composer.json
  packages/logan-center-plugin/composer.json
  packages/logan-center-plugin/logan-center-plugin.php
Due: prettier, php

chore(theme): commit scaffolded acorn config
  apps/wordpress/web/app/themes/logan-center-theme/config/acf.php
  apps/wordpress/web/app/themes/logan-center-theme/config/app.php
  apps/wordpress/web/app/themes/logan-center-theme/config/assets.php
  apps/wordpress/web/app/themes/logan-center-theme/config/blade-icons.php
  apps/wordpress/web/app/themes/logan-center-theme/config/blade-lucide-icons.php
  apps/wordpress/web/app/themes/logan-center-theme/config/filesystems.php
  apps/wordpress/web/app/themes/logan-center-theme/config/logging.php
  apps/wordpress/web/app/themes/logan-center-theme/config/poet.php
  apps/wordpress/web/app/themes/logan-center-theme/config/services.php
  apps/wordpress/web/app/themes/logan-center-theme/config/session.php
  apps/wordpress/web/app/themes/logan-center-theme/config/svg.php
  apps/wordpress/web/app/themes/logan-center-theme/config/view.php
Due: php

fix(deps|wp): remove wp-caper due to composer errors
  apps/wordpress/composer.json
  apps/wordpress/composer.lock
Due: prettier

fix(wp:plugins|blocks|gql|acf): update critically-outdated `wp-graphql-acf`
  apps/nextjs/gql/gql.ts
  apps/nextjs/gql/graphql.ts
  apps/nextjs/lib/graphql/queries/SinglePage.graphql
  apps/wordpress/composer.json
  apps/wordpress/composer.lock
  graphql.schema.json
Due: eslint, prettier

fix(blocks): update list of supported blocks
  packages/logan-center-plugin/logan-center-plugin.php
Due: php

chore(lint|vscode): set package manager explicitly + configure stylelint
  .vscode/logan-center.code-workspace
Due: none

fix: load all `packages/*` in workspace
  package.json
Due: prettier

fix(theme|editor|tw): follow latest editor style loading process
  packages/logan-center-theme/.stylelintrc.json
  packages/logan-center-theme/.vscode/settings.json
  packages/logan-center-theme/README.md
  packages/logan-center-theme/app/setup.php
  packages/logan-center-theme/package.json
  packages/logan-center-theme/postcss.config.cjs
  packages/logan-center-theme/resources/styles/app.css
  packages/logan-center-theme/resources/styles/editor.css
  packages/logan-center-theme/tailwind.config.cjs
  yarn.lock
Due: prettier, markdown, php

chore(reuse): license fixes
  .reuse/dep5
  apps/nextjs/lib/graphql/apollo-link.ts
  apps/nextjs/src/molecules/utils.ts
  packages/logan-center-plugin/logan-center-plugin.php
Due: eslint, prettier, php

fix: ensure font stack is loaded properly
  apps/nextjs/src/app/(pages)/about/SinglePage.tsx
  apps/nextjs/src/app/head.tsx
  apps/nextjs/src/app/layout.tsx
  apps/nextjs/src/organisms/PostBody.tsx
Due: eslint, prettier

feat(editor|blocks|buttons): enable core button blocks
  packages/logan-center-plugin/logan-center-plugin.php
  packages/logan-center-theme/theme.json
Due: prettier, php

chore(wp|deps): commit update lockfile
  apps/wordpress/composer.lock
Due: none

fix: remove empty composer files at project root
  composer.json
  composer.lock
Due: prettier

feat(tasks): split justfile into multiple per-scope
  .just/common.justfile
  .just/reuse.justfile
  Justfile
  apps/wordpress/Justfile
  nix/_automation/Justfile
Due: none

feat(wp): add tasks to run composer commands in all packages
  .just/common.justfile
  Justfile
  apps/wordpress/composer.lock
  packages/logan-center-plugin/composer.lock
Due: none

chore(deps): the usual
  apps/nextjs/.storybook/main.ts
  apps/nextjs/package.json
  package.json
  packages/eslint-config-custom/package.json
  packages/logan-center-theme/package.json
  packages/tu-assets/package.json
  yarn.lock
Due: eslint, prettier

chore(deps|sb): attempt to fix latest storybook again
  apps/nextjs/.storybook/main.ts
  apps/nextjs/package.json
  yarn.lock
Due: eslint, prettier

ci(sb): disable chromatic workflow runs on push
  .github/workflows/chromatic.yml
Due: prettier

chore(wp): track develop branch for sub projects
  Justfile
  apps/wordpress/composer.lock
Due: none

feat(pages|urls): dynamic catchall routes for single pages
  apps/nextjs/src/app/(pages)/[...slug]/page.tsx
  apps/nextjs/src/app/(pages)/about/SinglePage.tsx
  apps/nextjs/src/app/(pages)/about/page.tsx
  apps/nextjs/src/app/(pages)/contact/page.tsx
Due: eslint, prettier

chore(sb|deps): update storybook
  apps/nextjs/.storybook/main.ts
  apps/nextjs/package.json
  yarn.lock
Due: eslint, prettier

chore(wp:theme): disable `dev` script due to bud jank
  packages/logan-center-theme/package.json
Due: prettier

fix(urls): restore disabling of trailing slashes
  apps/nextjs/next.config.js
Due: eslint, prettier

fix(pages): handle invalid page requests
  apps/nextjs/src/app/(pages)/[...slug]/page.tsx
Due: eslint, prettier

chore(gql): run codegen via turbo without conc
  package.json
  turbo.json
Due: prettier

chore(deps): remove unnecessary top-level deps
  package.json
  yarn.lock
Due: prettier

chore: refine turbo inputs/outputs declarations
  turbo.json
Due: prettier

chore(vsc): use implicit workspace folder aliases
  .vscode/logan-center.code-workspace
Due: none

feat(wp): move core library/services to a more official path in `packages/`
  .vscode/logan-center.code-workspace
  apps/wordpress/composer.json
  apps/wordpress/web/app/mu-plugins/klein-loader.php
  packages/kleinweb-core-services/.gitignore
  packages/kleinweb-core-services/composer.json
  packages/kleinweb-core-services/composer.lock
  packages/kleinweb-core-services/inc/user-roles.php
  packages/kleinweb-core-services/klein-core-services.php
Due: prettier, php

fix: standardize naming schemes for wp plugins
  apps/nextjs/.gitignore
  apps/wordpress/web/app/mu-plugins/kleinweb-headless-lib.php
  packages/logan-center-plugin/.gitignore
  packages/logan-center-plugin/logan-center-plugin.php
  packages/logan-center-theme/config/app.php
  packages/logan-center-theme/index.headless.php
Due: php

fix(deps|wp:plugins): install some essential plugins as mu-plugins
  apps/wordpress/composer.json
  apps/wordpress/composer.lock
Due: prettier

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{js,jsx,ts,tsx,md,html,json,yml}
  markdown: any of: *.md
  php: any of: *.php
