Repository kleinweb/logan-center: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown, php

lefthook.yml:

# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,jsx,ts,tsx}'
      run: npx eslint {staged_files} --fix
    prettier:
      glob: '*.{js,jsx,ts,tsx,md,html,json,yml}'
      run: npx prettier {staged_files} --write
    markdown:
      glob: '*.md'
      run: npx markdownlint {staged_files} --fix
    php:
      glob: '*.php'
      run: ./vendor/bin/phpcs {staged_files} --standard=.phpcs.xml

fix(theme): use minimal custom theme
  apps/wordpress/.gitignore
  apps/wordpress/Justfile
  apps/wordpress/composer.json
  apps/wordpress/composer.lock
Due: prettier

fix(wp:theme): clean up unused consts
  apps/wordpress/config/application.php
  apps/wordpress/web/app/themes/logan-center/index.php
Due: php

docs(wpgraphql|apache): add warning about `.htaccess`
  apps/wordpress/web/.htaccess
Due: none

chore(wp:theme): cleanup
  apps/wordpress/web/app/themes/logan-center/functions.php
  apps/wordpress/web/app/themes/logan-center/index.php
  apps/wordpress/web/app/themes/logan-center/style.css
Due: php

ci(wp): add fixmes to pre-emptively-committed workflow
  .github/workflows/deploy-wordpress.yml
Due: prettier

fix(styles): import correct files
  apps/nextjs/pages/_app.tsx
  apps/nextjs/styles/index.css
Due: eslint, prettier

refactor: fix everything by de-complicating and removing ui package
  .yarnrc.yml
  Justfile
  apps/nextjs/.eslintrc.js
  apps/nextjs/components/ActiveLink/ActiveLink.tsx
  apps/nextjs/components/ActiveLink/index.ts
  apps/nextjs/components/Buttons/Button.tsx
  apps/nextjs/components/Buttons/ButtonWithIcon.tsx
  apps/nextjs/components/Buttons/LinkButton.tsx
  apps/nextjs/components/Buttons/index.ts
  apps/nextjs/components/Headings/index.tsx
  apps/nextjs/components/Icons/Icon.tsx
  apps/nextjs/components/Icons/index.ts
  apps/nextjs/components/Icons/types.d.ts
  apps/nextjs/components/KleinBanner/KleinBanner.tsx
  apps/nextjs/components/KleinBanner/index.ts
  apps/nextjs/components/Layout/Layout.tsx
  apps/nextjs/components/SiteFooter/SiteFooter.tsx
  apps/nextjs/components/SiteHeader/SiteHeader.tsx
  apps/nextjs/package.json
  apps/nextjs/pages/index.tsx
  apps/nextjs/stories/Buttons.stories.tsx
  apps/nextjs/stories/Icons.stories.tsx
  apps/nextjs/stories/Panel.stories.tsx
  apps/nextjs/stories/Text.stories.tsx
  package.json
  packages/eslint-config-custom/index.js
  packages/eslint-config-custom/package.json
  packages/tu-assets/index.d.ts
  packages/ui/.eslintignore
  packages/ui/.eslintrc.js
  packages/ui/package.json
  packages/ui/src/index.ts
  packages/ui/src/styles.css
  packages/ui/tailwind.config.js
  packages/ui/tsconfig.json
  packages/ui/tsup.config.ts
  turbo.json
  yarn.lock
Due: eslint, prettier

chore(vscode): oops
  .vscode/logan-center.code-workspace
Due: none

chore: various php fixes
  apps/wordpress/composer.json
  apps/wordpress/composer.lock
  apps/wordpress/config/application.php
  apps/wordpress/config/environments/development.php
  apps/wordpress/config/environments/staging.php
  apps/wordpress/web/app/themes/logan-center/composer.json
  apps/wordpress/web/app/themes/logan-center/composer.lock
  apps/wordpress/web/app/themes/logan-center/functions.php
  apps/wordpress/web/app/themes/logan-center/index.php
  apps/wordpress/web/index.php
  apps/wordpress/web/wp-config.php
Due: prettier, php

fix(wp|db): set db collation to match actual `utf8mb4_unicode_ci`
  apps/wordpress/config/application.php
Due: php

fix(wp:theme): assorted wp-admin clutter cleanup
  apps/wordpress/web/app/themes/logan-center/functions.php
Due: php

feat: add a bunch of new queries
  apps/nextjs/graphql/fragments/ContentBlock.graphql
  apps/nextjs/graphql/fragments/ContentNode.graphql
  apps/nextjs/graphql/fragments/ContentType.graphql
  apps/nextjs/graphql/fragments/FeaturedImage.graphql
  apps/nextjs/graphql/fragments/GeneralSettings.graphql
  apps/nextjs/graphql/fragments/MediaItem.graphql
  apps/nextjs/graphql/fragments/Menu.graphql
  apps/nextjs/graphql/queries/AllPages.graphql
  apps/nextjs/graphql/queries/CategoryArchive.graphql
  apps/nextjs/graphql/queries/ContentNodeBySlug.graphql
  apps/nextjs/graphql/queries/ContentNodePreviewById.graphql
  apps/nextjs/graphql/queries/ContentNodesBySearchTerm.graphql
  apps/nextjs/graphql/queries/ContentTypeByName.graphql
  apps/nextjs/graphql/queries/MediaItems.graphql
  apps/nextjs/graphql/queries/SiteFooterMenu.graphql
  apps/nextjs/graphql/queries/SiteHeaderMenu.graphql
  apps/nextjs/pages/_app.tsx
Due: eslint, prettier

feat(nav): introduce dynamic nav menu generators
  apps/nextjs/components/SiteHeader/SiteHeader.tsx
  apps/nextjs/contexts/SiteMenus.tsx
  apps/nextjs/contexts/SiteSettings.tsx
  apps/nextjs/graphql/queries/SinglePage.graphql
  apps/nextjs/graphql/queries/SiteFooterMenu.graphql
  apps/nextjs/graphql/queries/SiteHeaderMenu.graphql
  apps/nextjs/graphql/queries/Sitewide.graphql
  apps/nextjs/graphql/queries/TaxonomyArchive.graphql
  apps/nextjs/lib/menus.ts
  apps/nextjs/lib/types.d.ts
  apps/nextjs/pages/_app.tsx
  apps/nextjs/pages/index.tsx
  apps/wordpress/web/app/mu-plugins/klein-core-lib.php
  apps/wordpress/web/app/themes/logan-center/functions.php
Due: eslint, prettier, php

chore: commit misc layout changes (post-abandonment)
  apps/nextjs/components/PostContent/PostContent.tsx
  apps/nextjs/pages/[...slug].tsx
Due: eslint, prettier

chore: remove configuration complications from vipgo
  apps/nextjs/next.config.js
Due: eslint, prettier

refactor: move ddev to repo root + install sage theme
  .ddev/config.yaml
  Justfile
  apps/wordpress/.env.example
  apps/wordpress/Justfile
  apps/wordpress/composer.json
  apps/wordpress/composer.lock
  apps/wordpress/config/application.php
  apps/wordpress/web/.htaccess
  apps/wordpress/wp-cli.yml
  nix/wordpress/devshellProfiles.nix
  package.json
  wp-cli.yml
  yarn.lock
Due: prettier, php

feat(wp:mu-plugins): add headless library
  apps/wordpress/.gitignore
  apps/wordpress/web/app/mu-plugins/kleinweb-headless-lib.php
Due: php

refactor(query): add more accurate menu and page queries
  apps/nextjs/contexts/SiteMenus.tsx
  apps/nextjs/graphql/fragments/MenuItems.graphql
  apps/nextjs/graphql/queries/FrontPage.graphql
  apps/nextjs/graphql/queries/SinglePage.graphql
  apps/nextjs/graphql/queries/SiteMenus.graphql
Due: eslint, prettier

fix(wp): be specific about the required php version
  apps/wordpress/composer.json
  apps/wordpress/composer.lock
Due: prettier

chore(types): enable strict null checks
  apps/nextjs/tsconfig.json
Due: prettier

chore(nextjs|vsc|types): tsdk settings for workspace folder
  apps/nextjs/.vscode/settings.json
Due: prettier

chore(next): remove some more WPVIP-specific stuff
  apps/nextjs/graphql/apollo-link.ts
  apps/nextjs/graphql/apollo.ts
  apps/nextjs/lib/log.ts
  apps/nextjs/middleware.ts
Due: eslint, prettier

chore(deps): bump caniuse
  yarn.lock
Due: none

fix: ignore env files properly
  .gitignore
  apps/nextjs/.gitignore
  apps/wordpress/.gitignore
  apps/wordpress/web/app/themes/logan-center-wp-next-theme/.gitignore
Due: none

chore: fmt
  Justfile
Due: none

wip: stabilize bad queries
  apps/nextjs/components/SiteHeader/SiteHeader.tsx
  apps/nextjs/lib/types.d.ts
  apps/nextjs/pages/_app.tsx
  apps/nextjs/pages/index.tsx
Due: eslint, prettier

chore(wp|deps): remove problematic/unused plugins
  apps/wordpress/composer.json
  apps/wordpress/composer.lock
Due: prettier

chore(wp): rm theme from workspace
  package.json
  yarn.lock
Due: prettier

chore(gql|deps): get vscode working + improve availability of queries
  .env.example
  .envrc
  .graphqlrc.yml
  .yarnrc.yml
  apps/nextjs/codegen.ts
  apps/nextjs/gql/fragment-masking.ts
  apps/nextjs/gql/gql.ts
  apps/nextjs/gql/graphql.ts
  apps/nextjs/gql/index.ts
  apps/nextjs/package.json
  package.json
  turbo.json
  yarn.lock
Due: eslint, prettier

feat(lint): pretty aggressive: avoid arrow parens and bracket spacing
  .prettierrc.json
Due: prettier

chore(lint): delete stray eslintrc
  .eslintrc.js
Due: eslint, prettier

chore(lint|tw): remove annoying and broken tailwind eslint plugin
  apps/nextjs/.eslintrc.js
  apps/nextjs/components/Blocks/Quote/Quote.test.tsx
  apps/nextjs/package.json
  packages/eslint-config-custom/index.js
  yarn.lock
Due: eslint, prettier

feat(header|gql): nav menu skeleton
  apps/nextjs/components/SiteHeader/NavigationMenu.tsx
  apps/nextjs/components/SiteHeader/SiteHeader.tsx
  apps/nextjs/lib/menus.ts
Due: eslint, prettier

feat(gql): store endpoint url as constant for type-validation
  apps/nextjs/lib/constants.ts
  turbo.json
Due: eslint, prettier

chore: misc notes in config
  apps/nextjs/next.config.js
Due: eslint, prettier

feat: it renders again
  .reuse/dep5
  apps/nextjs/.eslintignore
  apps/nextjs/.gitignore
  apps/nextjs/components/Image/Image.tsx
  apps/nextjs/components/Layout/Layout.tsx
  apps/nextjs/components/PostContent/PostContent.tsx
  apps/nextjs/components/PostList/PostList.tsx
  apps/nextjs/components/SearchForm/SearchForm.tsx
  apps/nextjs/components/SiteHeader/NavigationMenu.tsx
  apps/nextjs/components/SiteHeader/SiteHeader.tsx
  apps/nextjs/gql/gql.ts
  apps/nextjs/gql/graphql.ts
  apps/nextjs/lib/blocks.ts
  apps/nextjs/lib/constants.ts
  apps/nextjs/lib/graphql/fragments/MenuItems.graphql
  apps/nextjs/lib/graphql/index.ts
  apps/nextjs/lib/graphql/queries/SiteMenus.graphql
  apps/nextjs/lib/graphql/queries/Sitewide.graphql
  apps/nextjs/lib/links.ts
  apps/nextjs/lib/log.ts
  apps/nextjs/lib/menus.ts
  apps/nextjs/pages/[...slug].tsx.disabled
  apps/nextjs/pages/_app.tsx
  apps/nextjs/pages/api/healthcheck.ts
  apps/nextjs/pages/api/robots.ts
  apps/nextjs/pages/index.tsx
  apps/nextjs/pages/latest/[content_type].tsx.disabled
  apps/nextjs/pages/media/index.tsx.disabled
  apps/nextjs/pages/preview/[token]/[id].tsx.disabled
  apps/nextjs/pages/search/index.tsx.disabled
  yarn.lock
Due: eslint, prettier

menu trial and error... mostly error...
  apps/nextjs/components/SiteHeader/NavigationMenu.tsx
  apps/nextjs/components/SiteHeader/SiteHeader.tsx
  apps/nextjs/gql/gql.ts
  apps/nextjs/gql/graphql.ts
  apps/nextjs/lib/graphql/index.ts
  apps/nextjs/lib/graphql/queries/SiteMenus.graphql
  apps/nextjs/lib/menus.js
  apps/nextjs/lib/menus.ts.disabled
  apps/nextjs/pages/index.tsx
  apps/nextjs/tsconfig.json
Due: eslint, prettier

feat(sb): init new and improved storybook
  apps/nextjs/.eslintrc.js
  apps/nextjs/.storybook/main.ts
  apps/nextjs/.storybook/preview.ts
  apps/nextjs/package.json
  apps/nextjs/stories/Button.stories.ts
  apps/nextjs/stories/Button.tsx
  apps/nextjs/stories/Header.stories.ts
  apps/nextjs/stories/Header.tsx
  apps/nextjs/stories/Introduction.mdx
  apps/nextjs/stories/Page.stories.ts
  apps/nextjs/stories/Page.tsx
  apps/nextjs/stories/assets/code-brackets.svg
  apps/nextjs/stories/assets/colors.svg
  apps/nextjs/stories/assets/comments.svg
  apps/nextjs/stories/assets/direction.svg
  apps/nextjs/stories/assets/flow.svg
  apps/nextjs/stories/assets/plugin.svg
  apps/nextjs/stories/assets/repo.svg
  apps/nextjs/stories/assets/stackalt.svg
  apps/nextjs/stories/button.css
  apps/nextjs/stories/header.css
  apps/nextjs/stories/page.css
  yarn.lock
Due: eslint, prettier
