Repository kleinweb/logan-center: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markdown, php

lefthook.yml:

# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,jsx,ts,tsx}'
      run: npx eslint {staged_files} --fix
    prettier:
      glob: '*.{js,jsx,ts,tsx,md,html,json,yml}'
      run: npx prettier {staged_files} --write
    markdown:
      glob: '*.md'
      run: npx markdownlint {staged_files} --fix
    php:
      glob: '*.php'
      run: ./vendor/bin/phpcs {staged_files} --standard=.phpcs.xml

chore: duplicate gitignore files
  .gitignore
  apps/nextjs-app/.gitignore
  apps/wordpress/.gitignore
Due: none

feat(env|wp|secrets): source wordpress dotenv file in direnv
  .envrc
Due: none

chore(tasks): shorten license task names
  Justfile
Due: none

feat(tasks|wp|deps): add commands to install deps and wp
  Justfile
  apps/wordpress/Justfile
Due: none

feat(tasks|deps): install `just` via npm for later use in ci
  package.json
  yarn.lock
Due: prettier

feat(secrets): use `dotenv-vault` for environment secrets management
  Justfile
  apps/wordpress/.env.vault
  package.json
  yarn.lock
Due: prettier

feat(wp:plugins|deps): add `intervention`
  apps/wordpress/composer.json
  apps/wordpress/composer.lock
Due: prettier

chore(reuse): yep
  .eslintrc.js
  .reuse/dep5
  apps/nextjs-minimal/.eslintrc.js
  apps/nextjs-minimal/components/Meta/Meta.tsx
  apps/nextjs-minimal/components/Telemetry/Telemetry.tsx
  apps/nextjs-minimal/lib/constants.ts
  apps/nextjs-minimal/lib/interfaces/post.ts
  apps/nextjs-minimal/styles/globals.css
  apps/nextjs-minimal/svgr.config.js
  apps/nextjs-minimal/tailwind.config.js
  apps/wordpress/Justfile
  apps/wordpress/flake.nix
  apps/wordpress/web/index.php
  codegen.ts
  packages/eslint-config-custom/index.js
  packages/ui/.eslintrc.js
  packages/ui/src/components/ActiveLink/index.ts
  packages/ui/src/components/Buttons/ButtonWithIcon.tsx
  packages/ui/src/components/Buttons/LinkButton.tsx
  packages/ui/src/components/Buttons/index.ts
  packages/ui/src/styles.css
  packages/ui/tailwind.config.js
  packages/ui/tsup.config.ts
Due: eslint, prettier, php

feat: add tasks for wp setup
  Justfile
  apps/wordpress/Justfile
Due: none

fixup! chore(reuse): yep
  Justfile
  apps/nextjs-minimal/components/SiteFooter/FinePrint.tsx
Due: eslint, prettier

feat: add nextjs-wordpress plugin and theme
  .reuse/dep5
  apps/wordpress/.env.example
  apps/wordpress/composer.json
  apps/wordpress/composer.lock
  apps/wordpress/flake.nix
  apps/wordpress/nix/_automation/devshells.nix
  packages/nextjs-wordpress-plugin/README.md
  packages/nextjs-wordpress-plugin/composer.json
  packages/nextjs-wordpress-plugin/inc/blocks.php
  packages/nextjs-wordpress-plugin/inc/editor.php
  packages/nextjs-wordpress-plugin/inc/links.php
  packages/nextjs-wordpress-plugin/inc/media.php
  packages/nextjs-wordpress-plugin/inc/menus.php
  packages/nextjs-wordpress-plugin/inc/revalidation.php
  packages/nextjs-wordpress-plugin/inc/wp-graphql.php
  packages/nextjs-wordpress-plugin/inc/yoast.php
  packages/nextjs-wordpress-plugin/nextjs-wordpress-plugin.php
  packages/nextjs-wordpress-theme/README.md
  packages/nextjs-wordpress-theme/composer.json
  packages/nextjs-wordpress-theme/functions.php
  packages/nextjs-wordpress-theme/index.php
  packages/nextjs-wordpress-theme/screenshot.png
  packages/nextjs-wordpress-theme/style.css
  packages/nextjs-wordpress-theme/theme.json
Due: prettier, markdown, php

chore(deps|wp): remove `@wordpress/env`
  .gitignore
  .wp-env/.htaccess
  apps/nextjs-app/.gitignore
  apps/wordpress/.gitignore
  nix/wordpress/devshellProfiles.nix
  nix/wordpress/nixago.nix
  package.json
  treefmt.toml
Due: prettier

chore(vscode|wp): configure intelephense?
  .vscode/logan-center.code-workspace
  apps/wordpress/.vscode/settings.json
Due: prettier

fix(wp): add dotenv consts to config
  apps/wordpress/.env.example
  apps/wordpress/config/application.php
Due: php

fix(wp): move theme into `themes` directory directly
  apps/wordpress/composer.json
  apps/wordpress/web/app/themes/logan-center/README.md
  apps/wordpress/web/app/themes/logan-center/functions.php
  apps/wordpress/web/app/themes/logan-center/index.php
  apps/wordpress/web/app/themes/logan-center/screenshot.png
  apps/wordpress/web/app/themes/logan-center/style.css
  apps/wordpress/web/app/themes/logan-center/theme.json
  packages/nextjs-wordpress-theme/composer.json
Due: prettier, markdown, php

fixup! fix(wp): add dotenv consts to config
  apps/wordpress/config/application.php
Due: php

chore: update yarn
  .yarn/releases/yarn-4.0.0-rc.39.cjs
  .yarnrc.yml
  package.json
Due: prettier

chore: bump deps to fix hanging `ui` build due to `@types/rimraf`
  package.json
  packages/tailwind-config/package.json
  packages/tu-assets/package.json
  packages/ui/package.json
  yarn.lock
Due: prettier

fix: tell prettier to ignore vscode files
  .prettierignore
Due: none

fix: nextjs env vars should actually include `NEXT_PUBLIC_` prefix
  apps/nextjs/.env.example
  apps/nextjs/Readme.md
  apps/nextjs/graphql/apollo-link.ts
  apps/nextjs/wp.config.js
Due: eslint, prettier, markdown

fix: update graphql generation and other upstream stuff
  .yarnrc.yml
  apps/nextjs/.env.example
  apps/nextjs/codegen.ts
  apps/nextjs/graphql/generated/fragmentMatcher.ts
  apps/nextjs/graphql/generated/index.tsx
  apps/nextjs/lib/hooks/useInternalLinkRouting.ts
  apps/nextjs/lib/links.test.ts
  apps/nextjs/next.config.js
  apps/nextjs/package.json
  apps/nextjs/pages/api/hello.ts
  apps/nextjs/pages/api/robots.ts
  apps/nextjs/pages/index.tsx
  apps/nextjs/pages/media/index.module.css
  apps/nextjs/pages/media/index.tsx
  apps/nextjs/wp.config.js
  apps/wordpress/.ddev/config.yaml
  apps/wordpress/.env.example
  apps/wordpress/Justfile
  apps/wordpress/composer.json
  apps/wordpress/composer.lock
  apps/wordpress/config/application.php
  apps/wordpress/config/environments/development.php
  apps/wordpress/web/.htaccess
  package.json
  packages/eslint-config-custom/package.json
  packages/ui/package.json
  turbo.json
  yarn.lock
Due: eslint, prettier, php

fix: use correct wp install path
  apps/wordpress/Justfile
Due: none

chore(vscode): move shared settings to `settings.json`
  .vscode/logan-center.code-workspace
  .vscode/settings.json
Due: prettier

chore(secrets): configurate dotenv-vault for `apps/nextjs` + build for wp app
  apps/nextjs/.env.vault
  apps/wordpress/.env.example
  apps/wordpress/.env.vault
Due: none

chore: cleanup
  Justfile
  apps/nextjs/codegen.ts
Due: eslint, prettier

chore(reuse|wp): update licenses + remove unused resources
  .reuse/dep5
  apps/nextjs-minimal/public/android-chrome-192x192.png
  apps/nextjs-minimal/public/android-chrome-384x384.png
  apps/nextjs-minimal/public/apple-touch-icon.png
  apps/nextjs-minimal/public/browserconfig.xml
  apps/nextjs-minimal/public/favicon-16x16.png
  apps/nextjs-minimal/public/favicon-32x32.png
  apps/nextjs-minimal/public/favicon.ico
  apps/nextjs-minimal/public/mstile-150x150.png
  apps/nextjs-minimal/public/safari-pinned-tab.svg
  apps/nextjs-minimal/public/site.webmanifest
  apps/nextjs/.eslintrc.js
  packages/nextjs-wordpress-plugin/README.md
  packages/nextjs-wordpress-plugin/composer.json
  packages/nextjs-wordpress-plugin/inc/blocks.php
  packages/nextjs-wordpress-plugin/inc/editor.php
  packages/nextjs-wordpress-plugin/inc/links.php
  packages/nextjs-wordpress-plugin/inc/media.php
  packages/nextjs-wordpress-plugin/inc/menus.php
  packages/nextjs-wordpress-plugin/inc/revalidation.php
  packages/nextjs-wordpress-plugin/inc/wp-graphql.php
  packages/nextjs-wordpress-plugin/inc/yoast.php
  packages/nextjs-wordpress-plugin/nextjs-wordpress-plugin.php
Due: eslint, prettier, markdown, php

fix: pull in updated vipgo components
  apps/nextjs/.env.example
  apps/nextjs/components/Blocks/ImageBlock/ImageBlock.tsx
  apps/nextjs/components/Blocks/index.tsx
  apps/nextjs/components/Image/Image.test.tsx
  apps/nextjs/components/Image/Image.tsx
  apps/nextjs/components/Page/Page.tsx
  apps/nextjs/components/PostList/PostList.tsx
  apps/nextjs/pages/media/index.tsx
  apps/nextjs/wp.config.js
Due: eslint, prettier

fix(eslint-config): allow unused vars with underscore prefix
  packages/eslint-config-custom/index.js
Due: eslint, prettier

chore(eslint-config): remove unused storybook rule overrides
  packages/eslint-config-custom/index.js
Due: eslint, prettier

refactor: migrate components from `nextjs-minimal`
  apps/nextjs-minimal/components/SiteFooter/SiteFooter.tsx
  apps/nextjs-minimal/components/SiteHeader/SiteHeader.tsx
  apps/nextjs-minimal/lib/gtag.ts
  apps/nextjs-minimal/next-env.d.ts
  apps/nextjs-minimal/postcss.config.js
  apps/nextjs-minimal/tsconfig.json
  apps/nextjs/components/BackgroundVideo/Readme.md
  apps/nextjs/components/Container/Container.tsx
  apps/nextjs/components/Container/index.ts
  apps/nextjs/components/Layout/Layout.tsx
  apps/nextjs/components/Layout/index.ts
  apps/nextjs/components/Meta/Meta.tsx
  apps/nextjs/components/Meta/index.ts
  apps/nextjs/components/Post/CoverImage.tsx
  apps/nextjs/components/Post/Post.tsx
  apps/nextjs/components/Post/PostBody.tsx
  apps/nextjs/components/Post/PostHeader.tsx
  apps/nextjs/components/Post/PostTitle.tsx
  apps/nextjs/components/Post/index.ts
  apps/nextjs/components/SiteFooter/FinePrint.tsx
  apps/nextjs/components/SiteFooter/SiteFooter.tsx
  apps/nextjs/components/SiteFooter/SocialIcons.tsx
  apps/nextjs/components/SiteFooter/index.ts
  apps/nextjs/components/SiteHeader/SiteHeader.tsx
  apps/nextjs/components/SiteHeader/index.ts
  apps/nextjs/components/Telemetry/Telemetry.tsx
  apps/nextjs/components/Telemetry/index.ts
  apps/nextjs/lib/constants.ts
  apps/nextjs/lib/interfaces/post.ts
  apps/nextjs/pages/Home/Hero.tsx
  apps/nextjs/pages/_document.tsx
  apps/nextjs/pages/media/index.tsx
  apps/nextjs/pages/podcast.tsx.disabled
  apps/nextjs/styles/globals.css
  apps/nextjs/svgr.config.js
  apps/nextjs/tailwind.config.js
  apps/nextjs/tsconfig.json
Due: eslint, prettier, markdown

fix(env|eslint): enforce undeclared env vars rule
  apps/nextjs/.eslintrc.js
  turbo.json
Due: eslint, prettier

fix: remove unnecessary redis lib
  apps/nextjs/Readme.md
  apps/nextjs/lib/redis/client.ts
  apps/nextjs/lib/redis/index.ts
  apps/nextjs/package.json
  apps/nextjs/pages/api/books.ts
  yarn.lock
Due: eslint, prettier, markdown

fixup! refactor: migrate components from `nextjs-minimal`
  .eslintrc.js
  .vscode/logan-center.code-workspace
  apps/nextjs-minimal/.eslintrc.js
  apps/nextjs-minimal/.gitignore
  apps/nextjs-minimal/README.md
  apps/nextjs-minimal/next.config.js
  apps/nextjs-minimal/package.json
  apps/nextjs-minimal/pages/_app.tsx
  apps/nextjs-minimal/pages/index.tsx
  apps/nextjs-minimal/public/assets/.gitkeep
  apps/nextjs/components/Blocks/index.ts
  apps/nextjs/components/Layout/Layout.tsx
  apps/nextjs/components/Page/Page.tsx
  apps/nextjs/components/PostContent/PostContent.tsx
  apps/nextjs/lib/gtag.ts
  apps/nextjs/package.json
  apps/nextjs/pages/[...slug].tsx
  apps/nextjs/pages/_app.tsx
  apps/nextjs/pages/index.tsx
  apps/nextjs/pages/latest/[content_type].tsx
  apps/nextjs/pages/media/index.tsx
  apps/nextjs/pages/search/index.tsx
  apps/nextjs/tsconfig.json
  yarn.lock
Due: eslint, prettier, markdown

chore: add netlify cli to devshell
  nix/_automation/devshells.nix
Due: none

ci: configure netlify per branch and set up dotenv vault there
  .gitignore
  apps/nextjs/.env.vault
  apps/nextjs/.gitignore
  apps/nextjs/package.json
  apps/wordpress/.gitignore
  netlify.toml
  package.json
  yarn.lock
Due: prettier

fix(assets): disable typescript output for svgr
  apps/nextjs/svgr.config.js
Due: eslint, prettier

fix(graphql): ignore generated files
  apps/nextjs/.gitignore
  apps/nextjs/graphql/generated/fragmentMatcher.ts
  apps/nextjs/graphql/generated/index.tsx
Due: eslint, prettier

chore(secrets): vault update
  apps/nextjs/.env.vault
  apps/wordpress/.env.vault
Due: none
